examples/standard/XmlProcessingCollection/XmlProcessingCollection/Schemas/collection.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns = "http://www.tibco.com/be/collection"
	 targetNamespace = "http://www.tibco.com/be/collection"
	 xmlns:xs = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xs:complexType name = "OrderlineType">
		<xs:sequence>
			<xs:element name = "lineId" type = "xs:integer"/>
			<xs:element name = "productId" type = "xs:string"/>
			<xs:element name = "qty" type = "xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name = "OrderType">
		<xs:sequence>
			<xs:element name = "orderId" type = "xs:string"/>
			<xs:element name = "custId" type = "xs:string"/>
			<xs:element name = "orderline" type = "OrderlineType" minOccurs = "0" maxOccurs = "unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name = "order" type = "OrderType"/>
	<xs:element name = "orderline" type = "OrderlineType"/>
</xs:schema>