examples/standard/FTL/FTL/SharedResources/InfoSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/InfoSchema" xmlns:tns="http://www.example.org/InfoSchema" elementFormDefault="qualified">


    <complexType name="Names">
    	<sequence>
    		<element name="name" type="string" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <element name="names" type="tns:Names"></element>
</schema>