runtime/core/common/src/addon_registry.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema 
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:reg="http:///www.tibco.com/be/addon_registry.xsd" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	ecore:nsPrefix="reg" 
	ecore:package="registry"
	ecore:documentRoot="Registry"
	targetNamespace="http:///www.tibco.com/be/addon_registry.xsd">
	
	<xsd:import namespace="http://www.eclipse.org/emf/2002/Ecore"
		schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/Ecore.xsd" />
		
<!--   		fileExtToElementType.put(CHANNEL_EXTENSION, ELEMENT_TYPES.CHANNEL); -->
<!-- 		fileExtToElementType.put(CONCEPT_EXTENSION, ELEMENT_TYPES.CONCEPT); -->
<!-- 		fileExtToElementType.put(EAR_EXTENSION, ELEMENT_TYPES.ENTERPRISE_ARCHIVE); -->
<!-- 		fileExtToElementType.put(RULE_EXTENSION, ELEMENT_TYPES.RULE); -->
<!-- 		fileExtToElementType.put(RULEFUNCTION_EXTENSION, ELEMENT_TYPES.RULE_FUNCTION); -->
<!-- 		fileExtToElementType.put(SCORECARD_EXTENSION, ELEMENT_TYPES.SCORECARD); -->
<!-- 		fileExtToElementType.put(EVENT_EXTENSION, ELEMENT_TYPES.SIMPLE_EVENT); -->
<!-- 		fileExtToElementType.put(STATEMACHINE_EXTENSION, ELEMENT_TYPES.STATE_MACHINE); -->
<!-- 		fileExtToElementType.put(TIME_EXTENSION, ELEMENT_TYPES.TIME_EVENT); -->
<!-- 		fileExtToElementType.put(RULE_FN_IMPL_EXTENSION, ELEMENT_TYPES.DECISION_TABLE); -->
<!-- 		fileExtToElementType.put(RULE_TEMPLATE_EXTENSION, ELEMENT_TYPES.RULE_TEMPLATE); -->
<!-- 		fileExtToElementType.put(RULE_TEMPLATE_VIEW_EXTENSION, ELEMENT_TYPES.RULE_TEMPLATE_VIEW); -->
<!-- 		fileExtToElementType.put(METRIC_EXTENSION, ELEMENT_TYPES.METRIC); -->
<!-- 		fileExtToElementType.put(DOMAIN_EXTENSION, ELEMENT_TYPES.DOMAIN); -->
<!-- 		fileExtToElementType.put("instance", ELEMENT_TYPES.INSTANCE); -->
<!-- 		fileExtToElementType.put("ruleset", ELEMENT_TYPES.RULE_SET); -->
		
<!-- 		/**  -->
<!-- 		 * BEGIN: BE Views Element Types -->
<!-- 		 */ -->
<!-- 		fileExtToElementType.put("chart",ELEMENT_TYPES.CHART_COMPONENT); -->
<!-- 		fileExtToElementType.put("smcomponent",ELEMENT_TYPES.STATE_MACHINE_COMPONENT); -->
<!-- 		fileExtToElementType.put("pageselector",ELEMENT_TYPES.PAGE_SELECTOR_COMPONENT); -->
<!-- 		fileExtToElementType.put("alert",ELEMENT_TYPES.ALERT_COMPONENT); -->
<!-- 		fileExtToElementType.put("contextactionruleset",ELEMENT_TYPES.CONTEXT_ACTION_RULE_SET); -->
<!-- 		fileExtToElementType.put("blueprint",ELEMENT_TYPES.BLUE_PRINT_COMPONENT); -->
<!-- 		fileExtToElementType.put("querymanager",ELEMENT_TYPES.QUERY_MANAGER_COMPONENT); -->
<!-- 		fileExtToElementType.put("searchview",ELEMENT_TYPES.SEARCH_VIEW_COMPONENT); -->
<!-- 		fileExtToElementType.put("relatedassets",ELEMENT_TYPES.RELATED_ASSETS_COMPONENT); -->
<!-- 		fileExtToElementType.put("drilldown",ELEMENT_TYPES.DRILLDOWN_COMPONENT); -->
<!-- 		fileExtToElementType.put("query",ELEMENT_TYPES.QUERY); -->
<!-- 		fileExtToElementType.put("view",ELEMENT_TYPES.VIEW); -->
<!-- 		fileExtToElementType.put("dashboardpage",ELEMENT_TYPES.DASHBOARD_PAGE); -->
<!-- 		fileExtToElementType.put("assetpage",ELEMENT_TYPES.ASSET_PAGE); -->
<!-- 		fileExtToElementType.put("searchpage",ELEMENT_TYPES.SEARCH_PAGE); -->
<!-- 		fileExtToElementType.put("pageset",ELEMENT_TYPES.PAGE_SET); -->
<!-- 		fileExtToElementType.put("seriescolor",ELEMENT_TYPES.SERIES_COLOR); -->
<!-- 		fileExtToElementType.put("textcolorset",ELEMENT_TYPES.TEXT_COMPONENT_COLOR_SET); -->
<!-- 		fileExtToElementType.put("chartcolorset",ELEMENT_TYPES.CHART_COMPONENT_COLOR_SET); -->
<!-- 		fileExtToElementType.put("header",ELEMENT_TYPES.HEADER); -->
<!-- 		fileExtToElementType.put("login",ELEMENT_TYPES.LOGIN); -->
<!-- 		fileExtToElementType.put("skin",ELEMENT_TYPES.SKIN); -->
<!-- 		fileExtToElementType.put("rolepreference",ELEMENT_TYPES.ROLE_PREFERENCE); -->
<!-- 		fileExtToElementType.put("datasource",ELEMENT_TYPES.DATA_SOURCE); -->
<!-- 		fileExtToElementType.put("system",ELEMENT_TYPES.SKIN); -->
	
	<xsd:simpleType ecore:name="ElementTypes" name="ElementTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration ecore:name="UNKNOWN" value="UNKNOWN" />
			<xsd:enumeration ecore:name="CONCEPT" value="CONCEPT" />
			<xsd:enumeration ecore:name="SCORECARD" value="SCORECARD" />
			<xsd:enumeration ecore:name="INSTANCE" value="INSTANCE" />
			<xsd:enumeration ecore:name="SIMPLEEVENT" value="SIMPLE_EVENT" />
			<xsd:enumeration ecore:name="METRIC" value="METRIC" />
			<xsd:enumeration ecore:name="CHANNEL" value="CHANNEL" />
			<xsd:enumeration ecore:name="DESTINATION" value="DESTINATION" />
			<xsd:enumeration ecore:name="RULE" value="RULE" />
			<xsd:enumeration ecore:name="RULEFUNCTION" value="RULEFUNCTION" />
			<xsd:enumeration ecore:name="XSLT_FUNCTION" value="XSLT_FUNCTION" />
			<xsd:enumeration ecore:name="RULESET" value="RULESET" />
			<xsd:enumeration ecore:name="STATEMACHINE" value="STATE_MACHINE" />
			<xsd:enumeration ecore:name="TIMEEVENT" value="TIME_EVENT" />
			<xsd:enumeration ecore:name="ENTERPRISEARCHIVE" value="ENTERPRISEARCHIVE" />
			<xsd:enumeration ecore:name="BEARCHIVERESOURCE" value="BEARCHIVERESOURCE" />
			<xsd:enumeration ecore:name="DOMAIN" value="DOMAIN" />
			<xsd:enumeration ecore:name="DECISIONTABLE" value="DECISION_TABLE" />
			<xsd:enumeration ecore:name="FOLDER" value="FOLDER" />
			<xsd:enumeration ecore:name="RULETEMPLATE" value="RULE_TEMPLATE" />
			<xsd:enumeration ecore:name="QUERY" value="QUERY" />
			<xsd:enumeration ecore:name="VIEW" value="VIEW" />
			<xsd:enumeration ecore:name="PROCESS" value="PROCESS" />
			<xsd:enumeration ecore:name="JAVA_SOURCE" value="JAVA_SOURCE" />
		</xsd:restriction>
	</xsd:simpleType>
	
	
	<xsd:simpleType ecore:name="FileExtensionTypes" name="FileExtensionTypes">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration ecore:name="RULE_EXTENSION" value="rule" />
		<xsd:enumeration ecore:name="RULEFUNCTION_EXTENSION"
			value="rulefunction" />
		<xsd:enumeration ecore:name="XSLT_FUNCTION_EXTENSION"
			value="xsltfunction" />
		<xsd:enumeration ecore:name="RULE_FN_IMPL_EXTENSION"
			value="rulefunctionimpl" />
		<xsd:enumeration ecore:name="RULE_TEMPLATE_EXTENSION"
			value="ruletemplate" />
		<xsd:enumeration ecore:name="RULE_TEMPLATE_VIEW_EXTENSION"
			value="ruletemplateview" />
		<xsd:enumeration ecore:name="EAR_EXTENSION" value="archive" />
		<xsd:enumeration ecore:name="TIME_EXTENSION" value="time" />
		<xsd:enumeration ecore:name="STATEMACHINE_EXTENSION"
			value="statemachine" />
		<xsd:enumeration ecore:name="JAVA_SOURCE_EXTENSION" value="java" />
		<xsd:enumeration ecore:name="CONCEPT_EXTENSION" value="concept" />
		<xsd:enumeration ecore:name="EVENT_EXTENSION" value="event" />
		<xsd:enumeration ecore:name="SCORECARD_EXTENSION"
			value="scorecard" />
		<xsd:enumeration ecore:name="AESCHEMA_EXTENSION"
			value="aeschema" />
		<xsd:enumeration ecore:name="XSD_EXTENSION" value="xsd" />
		<xsd:enumeration ecore:name="DTD_EXTENSION" value="dtd" />
		<xsd:enumeration ecore:name="WSDL_EXTENSION" value="wsdl" />
		<xsd:enumeration ecore:name="DOMAIN_EXTENSION" value="domain" />
		<xsd:enumeration ecore:name="CHANNEL_EXTENSION" value="channel" />
		<xsd:enumeration ecore:name="GLOBAL_VAR_EXTENSION"
			value="substvar" />
		<xsd:enumeration ecore:name="QUERY_EXTENSION" value="query" />
		<xsd:enumeration ecore:name="BE_QUERY_EXTENSION"
			value="bequery" />
		<xsd:enumeration ecore:name="METRIC_EXTENSION" value="metric" />
		<xsd:enumeration ecore:name="PROCESS_EXTENSION" value="beprocess" />
		<xsd:enumeration ecore:name="SITE_TOPOLOGY_EXTENSION"
			value="st" />
		<xsd:enumeration ecore:name="CHART" value="chart"></xsd:enumeration>
		<xsd:enumeration ecore:name="SMCOMPONENT" value="smcomponent"></xsd:enumeration>
		<xsd:enumeration ecore:name="PAGE_SELECTOR" value="pageselector"></xsd:enumeration>
		<xsd:enumeration ecore:name="ALERT" value="alert"></xsd:enumeration>
		<xsd:enumeration ecore:name="CONTEXT_ACTION_RULESET"
			value="contextactionruleset"></xsd:enumeration>
		<xsd:enumeration ecore:name="BLUEPRINT" value="blueprint"></xsd:enumeration>
		<xsd:enumeration ecore:name="QUERY_MANAGER" value="querymanager"></xsd:enumeration>
		<xsd:enumeration ecore:name="SEARCH_VIEW" value="searchview"></xsd:enumeration>
		<xsd:enumeration ecore:name="RELATED_ASSETS" value="relatedassets"></xsd:enumeration>
		<xsd:enumeration ecore:name="DRILLDOWN" value="drilldown"></xsd:enumeration>
		<xsd:enumeration ecore:name="QUERY" value="query"></xsd:enumeration>
		<xsd:enumeration ecore:name="VIEW" value="view"></xsd:enumeration>
		<xsd:enumeration ecore:name="DASHBOARDPAGE" value="dashboardpage"></xsd:enumeration>
		<xsd:enumeration ecore:name="ASSETPAGE" value="assetpage"></xsd:enumeration>
		<xsd:enumeration ecore:name="SEARCHPAGE" value="searchpage"></xsd:enumeration>
		<xsd:enumeration ecore:name="PAGESET" value="pageset"></xsd:enumeration>
		<xsd:enumeration ecore:name="SERIES_COLOR" value="seriescolor"></xsd:enumeration>
		<xsd:enumeration ecore:name="TEXT_COLORSET" value="textcolorset"></xsd:enumeration>
		<xsd:enumeration ecore:name="CHART_COLORSET" value="chartcolorset"></xsd:enumeration>
		<xsd:enumeration ecore:name="HEADER" value="header"></xsd:enumeration>
		<xsd:enumeration ecore:name="LOGIN" value="login"></xsd:enumeration>
		<xsd:enumeration ecore:name="SKIN" value="skin"></xsd:enumeration>
		<xsd:enumeration ecore:name="ROLEPREFERENCE" value="rolepreference"></xsd:enumeration>
		<xsd:enumeration ecore:name="DATASOURCE" value="datasource"></xsd:enumeration>
		<xsd:enumeration ecore:name="SYSTEM" value="system"></xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

	<xsd:element name="addon" ecore:name="AddOn"
		type="reg:addon" />
	
	<xsd:complexType ecore:name="AddOn" name="addon">
		<xsd:sequence>
			<xsd:element name="type" type="reg:AddOnType"></xsd:element>
			<xsd:element ecore:name="IndexResourceProviderClass"
				name="indexResourceProviderClass" type="xsd:string" />
			<xsd:element ecore:name="IndexCacheClass"
				name="indexCacheClass" type="xsd:string" />
			<xsd:element ecore:name="OntologyAdapterClass"
				name="ontologyAdapterClass" type="xsd:string" />
			<xsd:element ecore:name="AdapterFactoryClass"
				name="adapterFactoryClass" type="xsd:string" />
			<xsd:element ecore:name="TnsEntityHandlerClass"
				name="tnsEntityHandlerClass" type="xsd:string" />
			<xsd:element ecore:name="CddAgentClass"
				name="cddAgentClass" type="xsd:string" />
			<xsd:element ecore:name="SupportedEntityTypes"
				name="supportedTypes" type="reg:supportedElementTypes" />
			<xsd:element ecore:name="SupportedExtensions"
				name="supportedExtensions" type="reg:supportedExtensions" />
			<xsd:element ecore:name="FileExtensionMap"
				name="fileExtensionMap" type="reg:fileExtensionMapType"
				maxOccurs="unbounded" />
			<xsd:element ecore:name="TnsEntityExtensions"
				name="tnsEntityExtensions" type="reg:tnsEntityExtensions" />
			<xsd:element ecore:name="FunctionCatalogProvider"
				name="functionCatalogProvider" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType ecore:name="SupportedElementTypes"
		name="supportedElementTypes">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="elementType"
				type="reg:ElementTypes" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType ecore:name="SupportedExtensions"
		name="supportedExtensions">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="extension"
				type="reg:FileExtensionTypes" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType ecore:name="TnsEntityExtensions"
		name="tnsEntityExtensions">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="extension"
				type="reg:FileExtensionTypes" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

    
  <xsd:complexType ecore:name="FileExtensionMapType" name="fileExtensionMapType">
    <xsd:sequence>
      <xsd:element ecore:name="Item" name="item" type="reg:FileExtensionMapItemType"
					minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
    
  <xsd:complexType ecore:name="FileExtensionMapItemType" name="FileExtensionMapItemType">
    <xsd:sequence>
      <xsd:element ecore:name="Extension" name="key" type="reg:FileExtensionTypes"/>
      <xsd:element ecore:name="ElementType" name="value" type="reg:supportedElementTypes"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="AddOnType">
  	<xsd:restriction base="xsd:string">
  		<xsd:enumeration value="CORE"></xsd:enumeration>
  		<xsd:enumeration value="DATA_MODELLING"></xsd:enumeration>
  		<xsd:enumeration value="EVENTSTREAM_PROCESSING"></xsd:enumeration>
  		<xsd:enumeration value="DECISION_MANAGER"></xsd:enumeration>
  		<xsd:enumeration value="VIEWS"></xsd:enumeration>
  		<xsd:enumeration value="PROCESS"></xsd:enumeration>
  		<xsd:enumeration value="LIVEVIEW"></xsd:enumeration>
  	</xsd:restriction>
  </xsd:simpleType>


</xsd:schema>
