runtime/core/common/src/cdd-5.4.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema
    ecore:documentRoot="CddRoot" 
	ecore:nsPrefix="cdd"
	ecore:package="com.tibco.be.util.config.cdd"
	targetNamespace="http://tibco.com/businessevents/configuration/5.4"
	xml:lang="en"
	xmlns:cdd="http://tibco.com/businessevents/configuration/5.4"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.eclipse.org/emf/2002/Ecore"
		schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/Ecore.xsd" />
		
	<!-- - - - - - - - - Elements - - - - - - - - - -->
		
	<xsd:element name="accept-count" type="cdd:override-type" />
	<xsd:element name="address" type="cdd:override-type" />
	<xsd:element name="adhoc-config" type="cdd:load-balancer-adhoc-config-type" />
	<xsd:element name="adhoc-configs" type="cdd:load-balancer-adhoc-configs-type" />
	<xsd:element name="agent" type="cdd:agent-type" />
	<xsd:element name="agent-classes" type="cdd:agent-classes-type" />
	<xsd:element name="agents" type="cdd:agents-type" />
	<xsd:element name="alert-config" type="cdd:alert-config-type" />
	<xsd:element name="alert-config-set" type="cdd:alert-config-set-type" />
	<xsd:element name="append" type="cdd:override-type" />
	<xsd:element name="arg" type="cdd:override-type" />
	<xsd:element name="author" type="cdd:override-type" />
	<xsd:element name="backing-store" type="cdd:backing-store-type" />
	<xsd:element name="backup-copies" type="cdd:override-type" />
	<xsd:element name="businessworks" type="cdd:businessworks-type" />
	<xsd:element name="cache" type="cdd:cache-agent-class-type" />
	<xsd:element name="cache-agent-class" type="cdd:cache-agent-class-type" />
	<xsd:element name="cache-agent-quorum" type="cdd:override-type" />
	<xsd:element name="cache-aside" type="cdd:override-type" />
	<xsd:element name="cache-limited" type="cdd:override-type" />
	<xsd:element name="cache-loader-class" type="cdd:override-type" />
	<xsd:element name="cache-manager" type="cdd:cache-manager-type" />
	<xsd:element name="cache-mode" type="cdd:domain-object-mode-type" />
	<xsd:element name="cache-storage-enabled" type="cdd:override-type" />
	<xsd:element name="certificate-key-file" type="cdd:security-override-type"/>	
	<xsd:element name="channel" type="cdd:override-type" />
	<xsd:element name="check-for-duplicates" type="cdd:override-type" />
	<xsd:element name="check-for-version" type="cdd:override-type" />
	<xsd:element name="check-interval" type="cdd:override-type" />
	<xsd:element name="checkpoint-interval" type="cdd:override-type" />
	<xsd:element name="checkpoint-ops-limit" type="cdd:override-type" />
	<xsd:element name="child-cluster-member" type="cdd:child-cluster-member-type" />
	<xsd:element name="cipher" type="cdd:override-type" />
	<xsd:element name="ciphers" type="cdd:ciphers-type" />
	<xsd:element name="class" type="cdd:override-type" />
	<xsd:element name="cluster" type="cdd:cluster-type" />
	<xsd:element name="cluster-member" type="cdd:cluster-member-type" />
	<xsd:element name="comment" type="cdd:override-type" />
	<xsd:element name="concurrent-rtc" type="cdd:override-type" />
	<xsd:element name="condition" type="cdd:condition-type" />
	<xsd:element name="connection-linger" type="cdd:override-type" />
	<xsd:element name="connection-timeout" type="cdd:override-type" />
	<xsd:element name="constant" type="cdd:override-type" />
	<xsd:element name="controller" type="cdd:security-controller-type"/>
	<xsd:element name="daemon" type="cdd:override-type" />
	<xsd:element name="dashboard-agent-class" type="cdd:dashboard-agent-class-type" />
	<xsd:element name="data-store-path" type="cdd:override-type" />
	<xsd:element name="date" type="cdd:override-type" />
	<xsd:element name="db-concepts" type="cdd:db-concepts-type" />
	<xsd:element name="db-dir" type="cdd:override-type" />
	<xsd:element name="db-uris" type="cdd:uris-type" />
	<xsd:element name="default-mode" type="cdd:domain-object-mode-type" />
	<xsd:element name="delete-retracted" type="cdd:override-type" />
	<xsd:element name="destination" type="cdd:destination-type" />
	<xsd:element name="destination-groups" type="cdd:destination-groups-type" />
	<xsd:element name="destinations" type="cdd:destinations-type" />
	<xsd:element name="dir" type="cdd:override-type" />
	<xsd:element name="discovery-url" type="cdd:override-type" />
	<xsd:element name="document-page" type="cdd:override-type" />
	<xsd:element name="document-root" type="cdd:override-type" />
	<xsd:element name="domain-name" type="cdd:security-override-type"/>
	<xsd:element name="domain-object" type="cdd:domain-object-type" />
	<xsd:element name="domain-objects" type="cdd:domain-objects-type" />
	<xsd:element name="enabled" type="cdd:override-type" />
	<xsd:element name="enable-tracking" type="cdd:override-type" />
	<xsd:element name="encoding" type="cdd:override-type" />
  	<xsd:element name="encryption" type="cdd:encryption-type"/>
	<xsd:element name="enforce-pools" type="cdd:override-type" />
	<xsd:element name="entity-cache-size" type="cdd:override-type" />
	<xsd:element name="eviction" type="cdd:eviction-type" />
	<xsd:element name="evict-on-update" type="cdd:override-type" />
	<xsd:element name="explicit-tuple" type="cdd:override-type" />
	<xsd:element name="files" type="cdd:files-type" />
	<xsd:element name="function-groups" type="cdd:function-groups-type" />
	<xsd:element name="functions" type="cdd:functions-type" />
	<xsd:element name="get-property" type="cdd:get-property-type" />
	<xsd:element name="hot-deploy" type="cdd:override-type" />
	<xsd:element name="http" type="cdd:http-type" />
	<xsd:element name="identity-password" type="cdd:security-override-type"/>
	<xsd:element name="inactivity-timeout" type="cdd:override-type" />
	<xsd:element name="index" type="cdd:index-type" />
	<xsd:element name="indexes" type="cdd:indexes-type" />
	<xsd:element name="inference-agent-class" type="cdd:inference-agent-class-type" />
	<xsd:element name="inference-engine" type="cdd:inference-engine-type" />
	<xsd:element name="initial-size" type="cdd:override-type" />
	<xsd:element name="job-manager" type="cdd:job-manager-type" />
	<xsd:element name="job-pool-queue-size" type="cdd:override-type" />
	<xsd:element name="job-pool-thread-count" type="cdd:override-type" />
	<xsd:element name="key" type="cdd:override-type" />
	<xsd:element name="key-manager-algorithm" type="cdd:override-type" />
	<xsd:element name="line-layout" type="cdd:line-layout-type" />
	<xsd:element name="listen-url" type="cdd:override-type" />
	<xsd:element name="load" type="cdd:load-type" />
	<xsd:element name="load-balancer-configs" type="cdd:load-balancer-configs-type" />	
	<xsd:element name="local-cache" type="cdd:local-cache-type" />
	<xsd:element name="lock-timeout" type="cdd:override-type" />
	<xsd:element name="log-config" type="cdd:log-config-type" />
	<xsd:element name="log-configs" type="cdd:log-configs-type" />
<!-- 	<xsd:element name="logs" type="cdd:artifact-ref-type" /> -->
	<xsd:element name="max-active" type="cdd:override-type" />
	<xsd:element name="max-number" type="cdd:override-type" />
	<xsd:element name="max-processors" type="cdd:override-type" />
	<xsd:element name="max-size" type="cdd:override-type" />
	<xsd:element name="max-time" type="cdd:override-type" />
	<xsd:element name="memory-manager" type="cdd:memory-manager-type" />
	<xsd:element name="message-encoding" type="xsd:string" />
	<xsd:element name="min-size" type="cdd:override-type" />
	<xsd:element name="mm-action" type="cdd:mm-action-type" />
	<xsd:element name="mm-action-config" type="cdd:mm-action-config-type" />
	<xsd:element name="mm-action-config-set" type="cdd:mm-action-config-set-type" />
	<xsd:element name="mm-agent-class" type="cdd:mm-agent-class-type" />
	<xsd:element name="mm-alert" type="cdd:mm-alert-type" />
	<xsd:element name="mm-execute-command" type="cdd:mm-execute-command-type" />
	<xsd:element name="mm-health-level" type="cdd:mm-health-level-type" />
<!-- 	<xsd:element name="mm-inference-agent-class" type="cdd:artifact-ref-type" /> -->
<!-- 	<xsd:element name="mm-query-agent-class" type="cdd:artifact-ref-type" /> -->
	<xsd:element name="mm-send-email" type="cdd:mm-send-email-type" />
	<xsd:element name="mm-trigger-condition" type="cdd:mm-trigger-condition-type" />
	<xsd:element name="mode" type="cdd:domain-object-mode-type" />
	<xsd:element name="name" type="cdd:override-type" />
	<xsd:element name="notification" type="cdd:notification-type" />
	<xsd:element name="object-management" type="cdd:object-management-type" />
	<xsd:element name="object-table" type="cdd:object-table-type" />
	<xsd:element name="pair-config" type="cdd:load-balancer-pair-config-type" />
	<xsd:element name="pair-configs" type="cdd:load-balancer-pair-configs-type" />
	<xsd:element name="persistence-option" type="cdd:override-type" />
	<xsd:element name="persistence-policy" type="cdd:override-type" />
	<xsd:element name="parallel-recovery" type="cdd:override-type" />
	<xsd:element name="policy-file" type="cdd:security-override-type"/>
	<xsd:element name="port" type="cdd:override-type" />
	<xsd:element name="pre-load-caches" type="cdd:override-type" />
	<xsd:element name="pre-load-enabled" type="cdd:override-type" />
	<xsd:element name="pre-load-fetch-size" type="cdd:override-type" />
	<xsd:element name="pre-load-handles" type="cdd:override-type" />
	<xsd:element name="pre-processor" type="cdd:ontology-uri-type" />
	<xsd:element name="primary-connection" type="cdd:connection-type" />
	<xsd:element name="priority" type="cdd:override-type" />
	<xsd:element name="process" type="cdd:process-type" />
	<xsd:element name="processes" type="cdd:processes-type" />
	<xsd:element name="process-groups" type="cdd:process-groups-type" />
	<xsd:element name="process-agent-class" type="cdd:process-agent-class-type" />
	<xsd:element name="process-engine" type="cdd:process-engine-type" />
	<xsd:element name="processing-unit" type="cdd:processing-unit-type" />
	<xsd:element name="processing-units" type="cdd:processing-units-type" />
	<xsd:element name="projection" type="cdd:projection-type" />
	<xsd:element name="property" type="cdd:property-type" />
	<xsd:element name="property-cache-size" type="cdd:override-type" />
	<xsd:element name="property-check-interval" type="cdd:override-type" />
	<xsd:element name="property-group" type="cdd:property-group-type" />
	<xsd:element name="protocol" type="cdd:override-type" />
	<xsd:element name="protocols" type="cdd:protocols-type" />
	<xsd:element name="protocol-timeout" type="cdd:override-type" />
	<xsd:element name="provider" type="cdd:provider-type" />
	<xsd:element name="query-agent-class" type="cdd:query-agent-class-type" />
	<xsd:element name="queue-size" type="cdd:override-type" />
<!-- 	<xsd:element name="ref" type="cdd:artifact-ref-type" /> -->
	<xsd:element name="read-timeout" type="cdd:override-type" />
	<xsd:element name="receiver" type="cdd:override-type" />	
	<xsd:element name="remote-listen-url" type="cdd:override-type" />	
	<xsd:element name="requester" type="cdd:security-requester-type"/>
	<xsd:element name="retry-count" type="cdd:override-type" />
	<xsd:element name="reverse-references" type="cdd:override-type" />
	<xsd:element name="revision" type="cdd:revision-type" />
	<xsd:element name="role" type="cdd:override-type"/>
	<xsd:element name="roles" type="cdd:override-type" />
	<xsd:element name="router" type="cdd:override-type" />
	<xsd:element name="rule" type="cdd:rule-type" />
	<xsd:element name="rule-config" type="cdd:rule-config-type" />
	<xsd:element name="rules" type="cdd:rules-type" />
	<xsd:element name="rulesets" type="cdd:rulesets-type" />
	<xsd:element name="secondary-connection" type="cdd:connection-type" />
	<xsd:element name="security-config" type="cdd:security-config-type"/>
	<xsd:element name="service" type="cdd:override-type" />
	<xsd:element name="set-property" type="cdd:set-property-type" />
	<xsd:element name="shared-all" type="cdd:override-type" />
	<xsd:element name="shared-queue" type="cdd:shared-queue-type" />
	<xsd:element name="shutdown" type="cdd:functions-type" />
	<xsd:element name="shoutdown-wait" type="cdd:override-type" />
	<xsd:element name="size" type="cdd:override-type" />
	<xsd:element name="skip-recovery" type="cdd:override-type" />
	<xsd:element name="socket-output-buffer-size" type="cdd:override-type" />
	<xsd:element name="ssl" type="cdd:ssl-type" />
	<xsd:element name="stale-connection-check" type="cdd:override-type" />
	<xsd:element name="startup" type="cdd:functions-type" />
	<xsd:element name="strategy" type="cdd:override-type" />
	<xsd:element name="subject" type="cdd:override-type" />
	<xsd:element name="subscribe" type="cdd:override-type" />
	<xsd:element name="sys-err-redirect" type="cdd:override-type" />
	<xsd:element name="sys-out-redirect" type="cdd:override-type" />
	<xsd:element name="table-name" type="cdd:override-type" />
	<xsd:element name="tcp-no-delay" type="cdd:override-type" />
	<xsd:element name="terminal" type="cdd:terminal-type" />
	<xsd:element name="thread-affinity-rule-function" type="cdd:ontology-uri-type" />	
	<xsd:element name="thread-count" type="cdd:override-type" />
	<xsd:element name="threading-model" type="cdd:threading-model-type" />
	<xsd:element name="token-file" type="cdd:security-override-type"/>
	<xsd:element name="trust-manager-algorithm" type="cdd:override-type" />
	<xsd:element name="ttl" type="cdd:override-type" />
	<xsd:element name="type" type="cdd:override-type" />
	<xsd:element name="uri" type="cdd:ontology-uri-type" />
	<xsd:element name="user-name" type="cdd:security-override-type"/>
	<xsd:element name="user-password" type="cdd:security-override-type"/>	
	<xsd:element name="version" type="xsd:string" />
	<xsd:element name="wait-timeout" type="cdd:override-type" />
	<xsd:element name="workers" type="cdd:override-type" />
	<xsd:element name="workerthreads-count" type="cdd:override-type" />
	<xsd:element name="write-timeout" type="cdd:override-type" />

	 <!-- - - - - - - - - - Types - - - - - - - - - - -->
	
	<xsd:complexType ecore:name="AgentClassesConfig" name="agent-classes-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice ecore:featureMap="group" maxOccurs="unbounded">
				<xsd:element ecore:name="cacheAgentConfig"
					ecore:upperBound="-1" minOccurs="0" ref="cdd:cache-agent-class" />
				<xsd:element ecore:name="dashboardAgentConfig"
					ecore:upperBound="-1" minOccurs="0" ref="cdd:dashboard-agent-class" />
				<xsd:element ecore:name="inferenceAgentConfig"
					ecore:upperBound="-1" minOccurs="0" ref="cdd:inference-agent-class" />
				<xsd:element ecore:name="queryAgentConfig"
					ecore:upperBound="-1" minOccurs="0" ref="cdd:query-agent-class" />
				<xsd:element ecore:name="mmAgentConfig" ecore:upperBound="-1"
					minOccurs="0" ref="cdd:mm-agent-class" />
				<xsd:element ecore:name="processAgentConfig"
					ecore:upperBound="-1" minOccurs="0" ref="cdd:process-agent-class" />
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType ecore:name="AgentClassConfig" abstract="true" name="agent-class-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type"/>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType ecore:name="AgentsConfig" name="agents-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="cdd:agent" />
		</xsd:sequence>
	</xsd:complexType>
		
	<xsd:complexType ecore:name="AgentConfig" mixed="true"
		name="agent-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
 					<xsd:element
							ecore:reference="cdd:agent-class-type"
							name="ref" type="xsd:IDREF"/>
					
					<xsd:element minOccurs="0" ref="cdd:key" />
					<xsd:element minOccurs="0" ref="cdd:priority" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="AlertConfigSetConfig" name="alert-config-set-type">
		<xsd:sequence>
			<xsd:element ecore:name="alertConfig" maxOccurs="unbounded"
				ref="cdd:alert-config" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:name="AlertConfigConfig" name="alert-config-type">
		<xsd:all>
			<xsd:element ref="cdd:condition" />
			<xsd:element ref="cdd:projection" />
		</xsd:all>
		<xsd:attribute ecore:name="alertName" name="alert-name"
			type="xsd:string" />
	</xsd:complexType>
<!-- 	<xsd:simpleType ecore:name="ArtifactRefType" name="artifact-ref-type"> -->
<!-- 		<xsd:restriction base="xsd:IDREF" /> -->
<!-- 	</xsd:simpleType> -->
	<xsd:complexType abstract="true" ecore:name="ArtifactConfig"
		name="artifact-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:attribute name="id" type="xsd:ID" />
	</xsd:complexType>
	
	<xsd:complexType ecore:name="BackingStoreForDomainObjectConfig"
		name="backing-store-for-domain-object-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element form="qualified" minOccurs="0" name="properties"
				type="cdd:backing-store-for-properties-type">
				<xsd:annotation>
					<xsd:documentation>
						Backing store configuration for the domain
						object's properties.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:enabled">
				<xsd:annotation>
					<xsd:documentation>
						Enables storage in the backing store, if true.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ecore:name="tableName" minOccurs="0"
				ref="cdd:table-name" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType ecore:name="BackingStoreForPropertiesConfig"
		name="backing-store-for-properties-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:sequence>
					<xsd:choice ecore:featureMap="group" maxOccurs="unbounded">
						<xsd:element ecore:upperBound="-1" form="qualified"
							minOccurs="0" name="property" type="cdd:backing-store-for-property-type" />
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="BackingStoreForPropertyConfig"
		name="backing-store-for-property-type">
		<xsd:all>
			<xsd:element ecore:name="reverseReferences" minOccurs="0"
				ref="cdd:reverse-references">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element ecore:name="maxSize" minOccurs="0"
				ref="cdd:max-size">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:name">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType ecore:name="BackingStoreConfig" name="backing-store-type">
	    <xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element ecore:name="cacheAside" minOccurs="0"
				ref="cdd:cache-aside">
				<xsd:annotation>
					<xsd:documentation>
						Enables cache-aside if true.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ecore:name="cacheLoaderClass" minOccurs="0"
				ref="cdd:cache-loader-class">
				<xsd:annotation>
					<xsd:documentation>
						Coherence backing store implementation.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ecore:name="dataStorePath" minOccurs="0"
				ref="cdd:data-store-path">
				<xsd:annotation>
					<xsd:documentation>
						Specifies the path for the data store.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			<xsd:element ecore:name="enforcePools" minOccurs="0"
				ref="cdd:enforce-pools">
				<xsd:annotation>
					<xsd:documentation>
						Enables all the connection pools.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ecore:name="persistenceOption" minOccurs="0"
				ref="cdd:persistence-option">
				<xsd:annotation>
					<xsd:documentation>
						Enables the backing store - None, Shared All, Shared Nothing
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ecore:name="persistencePolicy" minOccurs="0"
				ref="cdd:persistence-policy">
				<xsd:annotation>
					<xsd:documentation>
						Persistence policy to be used (SYNC or ASYNC).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ecore:name="parallelRecovery" minOccurs="0"
				ref="cdd:parallel-recovery">
				<xsd:annotation>
					<xsd:documentation>
						Parallel Recovery.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ecore:name="primaryConnection" minOccurs="0"
				ref="cdd:primary-connection">
				<xsd:annotation>
					<xsd:documentation>
						Primary connection to the database.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ecore:name="secondaryConnection" minOccurs="0"
				ref="cdd:secondary-connection">
				<xsd:annotation>
					<xsd:documentation>
						Secondary connection to the database.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" ref="cdd:strategy">
				<xsd:annotation>
					<xsd:documentation>
						Whether to use jdbc or proprietary mode.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" ref="cdd:type">
				<xsd:annotation>
					<xsd:documentation>
						Database type, e.g. oracle or sqlserver.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType ecore:name="BusinessworksConfig" name="businessworks-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element ref="cdd:uri" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType ecore:name="CacheAgentClassConfig" name="cache-agent-class-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:agent-class-type">
				<xsd:all>
					<xsd:element ecore:name="propertyGroup" minOccurs="0"
						ref="cdd:property-group" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType ecore:name="CacheManagerConfig" name="cache-manager-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cdd:object-manager-type">
		<xsd:all>
			<xsd:element ecore:name="cacheAgentQuorum" minOccurs="0"
				ref="cdd:cache-agent-quorum" />
			<xsd:element ecore:name="backingStore" minOccurs="0"
				ref="cdd:backing-store" />
			<xsd:element ecore:name="domainObjects" minOccurs="0"
				ref="cdd:domain-objects" />
			<xsd:element ref="cdd:provider" />
			<xsd:element ecore:name="backupCopies" minOccurs="0"
				ref="cdd:backup-copies" />
			<xsd:element ecore:name="entityCacheSize" minOccurs="0"
				ref="cdd:entity-cache-size" />
			<xsd:element ecore:name="objectTable" minOccurs="0"
				ref="cdd:object-table" />
			<xsd:element ecore:name="discoveryURL" minOccurs="0"
				ref="cdd:discovery-url" />
			<xsd:element ecore:name="listenURL" minOccurs="0"
				ref="cdd:listen-url" />
			<xsd:element ecore:name="remoteListenURL" minOccurs="0"
				ref="cdd:remote-listen-url" />
			<xsd:element ecore:name="protocolTimeout" minOccurs="0"
				ref="cdd:protocol-timeout" />
			<xsd:element ecore:name="readTimeout" minOccurs="0"
				ref="cdd:read-timeout" />
			<xsd:element ecore:name="writeTimeout" minOccurs="0"
				ref="cdd:write-timeout" />
			<xsd:element ecore:name="lockTimeout" minOccurs="0"
				ref="cdd:lock-timeout" />
			<xsd:element ecore:name="shoutdownWait" minOccurs="0"
				ref="cdd:shoutdown-wait" />
			<xsd:element ecore:name="workerthreadsCount" minOccurs="0"
				ref="cdd:workerthreads-count" />
			<xsd:element ecore:name="explicitTuple" minOccurs="0"
				ref="cdd:explicit-tuple" />
			<xsd:element ecore:name="securityConfig" form="qualified" minOccurs="0" name="security-config" type="cdd:cache-manager-security-config-type"/>	
		</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType ecore:name="CacheManagerSecurityConfig" name="cache-manager-security-config-type">
      <xsd:complexContent>
        <xsd:extension base="cdd:security-config-type">
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="cdd:enabled"/>
            <xsd:element minOccurs="0" ref="cdd:controller"/>
            <xsd:element minOccurs="0" ref="cdd:requester"/>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
  	</xsd:complexType>
	
	<xsd:complexType ecore:name="ChildClusterMemberConfig"
		name="child-cluster-member-type">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" ref="cdd:property" />
		</xsd:sequence>
		<xsd:attribute name="path" type="xsd:string" />
		<xsd:attribute name="tolerance" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType ecore:name="CiphersConfig" name="ciphers-type">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="cdd:cipher" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:name="ClusterMemberConfig" name="cluster-member-type">
		<xsd:sequence>
			<xsd:element ecore:name="setProperty" maxOccurs="unbounded"
				ref="cdd:set-property" />
		</xsd:sequence>
		<xsd:attribute ecore:name="memberName" name="member-name"
			type="xsd:string" />
		<xsd:attribute name="path" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType ecore:name="ClusterConfig" name="cluster-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ecore:name="agentClasses" ref="cdd:agent-classes" />
					<xsd:element ecore:name="destinationGroups" minOccurs="0" ref="cdd:destination-groups" />
					<xsd:element ecore:name="functionGroups" minOccurs="0" ref="cdd:function-groups" />
					<xsd:element ecore:name="loadBalancerConfigs" ref="cdd:load-balancer-configs" />
					<xsd:element ecore:name="logConfigs" minOccurs="0" ref="cdd:log-configs" />
					<xsd:element ecore:name="messageEncoding" minOccurs="0" ref="cdd:message-encoding" />
					<xsd:element ref="cdd:name" />
					<xsd:element ecore:name="objectManagement" ref="cdd:object-management" />
					<xsd:element ecore:name="processGroups" ref="cdd:process-groups" />
					<xsd:element ecore:name="processingUnits" ref="cdd:processing-units" />
					<xsd:element ecore:name="propertyGroup" minOccurs="0"
						ref="cdd:property-group" />
					<xsd:element minOccurs="0" ref="cdd:revision" />
					<xsd:element minOccurs="0" ref="cdd:rulesets" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="ConditionConfig" name="condition-type">
		<xsd:all>
			<xsd:element ecore:name="getProperty" ref="cdd:get-property" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType ecore:name="ConnectionConfig" name="connection-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ecore:name="initialSize" minOccurs="0"
						ref="cdd:initial-size" />
					<xsd:element ecore:name="minSize" minOccurs="0"
						ref="cdd:min-size" />
					<xsd:element ecore:name="maxSize" ref="cdd:max-size" />
					<xsd:element ref="cdd:uri" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="DashboardAgentClassConfig"
		name="dashboard-agent-class-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:agent-class-type">
				<xsd:all>
					<xsd:element ref="cdd:rules" />
					<xsd:element ref="cdd:destinations" />
					<xsd:element ref="cdd:startup" />
					<xsd:element ref="cdd:shutdown" />
					<xsd:element ecore:name="propertyGroup" minOccurs="0"
						ref="cdd:property-group" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="DbConceptsConfig" name="db-concepts-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ecore:name="checkInterval" minOccurs="0"
						ref="cdd:check-interval" />
					<xsd:element ecore:name="dbUris" ref="cdd:db-uris" />
					<xsd:element ecore:name="inactivityTimeout" minOccurs="0"
						ref="cdd:inactivity-timeout" />
					<xsd:element ecore:name="initialSize" minOccurs="0"
						ref="cdd:initial-size" />
					<xsd:element ecore:name="maxSize" minOccurs="0"
						ref="cdd:max-size" />
					<xsd:element ecore:name="minSize" minOccurs="0"
						ref="cdd:min-size" />
					<xsd:element ecore:name="propertyCheckInterval"
						minOccurs="0" ref="cdd:property-check-interval" />
					<xsd:element ecore:name="retryCount" minOccurs="0"
						ref="cdd:retry-count" />
					<xsd:element ecore:name="waitTimeout" minOccurs="0"
						ref="cdd:wait-timeout" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="DestinationGroupsConfig"
		name="destination-groups-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				ref="cdd:destinations" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:name="DestinationsConfig" name="destinations-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
                <operation name="getAllDestinations" type="ecore:EEList{cdd:destination-type}"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:sequence>
					<xsd:choice ecore:featureMap="group" maxOccurs="unbounded">
						<xsd:element
							ecore:upperBound="-1"
							ecore:reference="cdd:destinations-type"
							minOccurs="0" name="ref" type="xsd:IDREF"/>
						<xsd:element ecore:upperBound="-1" minOccurs="0"
							ref="cdd:destination" />
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="DestinationConfig" name="destination-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:uri" />
					<xsd:element ecore:name="preProcessor" minOccurs="0"
						ref="cdd:pre-processor" />
					<xsd:element ecore:name="threadingModel" minOccurs="0"
						ref="cdd:threading-model" />
					<xsd:element ecore:name="threadCount" minOccurs="0"
						ref="cdd:thread-count" />
					<xsd:element ecore:name="queueSize" minOccurs="0"
						ref="cdd:queue-size" />
					<xsd:element ecore:name="threadAffinityRuleFunction" minOccurs="0"
						ref="cdd:thread-affinity-rule-function" />						
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType ecore:name="DomainObjectModeConfig" name="domain-object-mode-type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="cache" />
			<xsd:enumeration value="cacheAndMemory" />
			<xsd:enumeration value="memory" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType ecore:name="DomainObjectsConfig" name="domain-objects-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:sequence>
					<xsd:element ecore:name="defaultMode" minOccurs="0"
						ref="cdd:default-mode" />
					<xsd:element ecore:name="checkForVersion" minOccurs="0"
						ref="cdd:check-for-version" />
					<xsd:element minOccurs="0" ref="cdd:constant" />
					<xsd:element ecore:name="enableTracking" minOccurs="0"
						ref="cdd:enable-tracking" />
					<xsd:element ecore:name="evictOnUpdate" minOccurs="0"
						ref="cdd:evict-on-update" />
					<xsd:element ecore:name="cacheLimited" minOccurs="0"
						ref="cdd:cache-limited" />
					<xsd:element minOccurs="0" ref="cdd:subscribe" />
					<xsd:element ecore:name="preLoadEnabled" minOccurs="0"
						ref="cdd:pre-load-enabled" />
					<xsd:element ecore:name="preLoadFetchSize" minOccurs="0"
						ref="cdd:pre-load-fetch-size" />
					<xsd:element ecore:name="preLoadHandles" minOccurs="0"
						ref="cdd:pre-load-handles" />
					<xsd:element ecore:name="domainObject" maxOccurs="unbounded"
						minOccurs="0" ref="cdd:domain-object" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="DomainObjectConfig" name="domain-object-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element ecore:name="backingStore" form="qualified"
				minOccurs="0" name="backing-store" type="cdd:backing-store-for-domain-object-type" />
			<xsd:element ecore:name="cacheLimited" minOccurs="0"
				ref="cdd:cache-limited" />
			<xsd:element ecore:name="checkForVersion" minOccurs="0"
				ref="cdd:check-for-version" />
			<xsd:element minOccurs="0" ref="cdd:constant" />
			<xsd:element ecore:name="enableTracking" minOccurs="0"
				ref="cdd:enable-tracking" />
      		<xsd:element minOccurs="0" ref="cdd:encryption"/>
			<xsd:element ecore:name="evictOnUpdate" minOccurs="0"
				ref="cdd:evict-on-update" />
			<xsd:element minOccurs="0" ref="cdd:indexes" />
			<xsd:element minOccurs="0" ref="cdd:mode" />
			<xsd:element ecore:name="preLoadEnabled" minOccurs="0"
				ref="cdd:pre-load-enabled" />
			<xsd:element ecore:name="preLoadFetchSize" minOccurs="0"
				ref="cdd:pre-load-fetch-size" />
			<xsd:element ecore:name="preLoadHandles" minOccurs="0"
				ref="cdd:pre-load-handles" />
			<xsd:element ecore:name="preProcessor" minOccurs="0"
				ref="cdd:pre-processor" />
			<xsd:element minOccurs="0" ref="cdd:subscribe" />
			<xsd:element ref="cdd:uri" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType ecore:name="EvictionConfig" name="eviction-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ecore:name="maxSize" minOccurs="0"
						ref="cdd:max-size" />
					<xsd:element ecore:name="maxTime" minOccurs="0"
						ref="cdd:max-time" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="FilesConfig" name="files-type">
        <xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element ref="cdd:enabled" />
			<xsd:element minOccurs="0" ref="cdd:dir" />
			<xsd:element ecore:name="maxNumber" minOccurs="0"
				ref="cdd:max-number" />
			<xsd:element ecore:name="maxSize" minOccurs="0"
				ref="cdd:max-size" />
			<xsd:element minOccurs="0" ref="cdd:name" />
			<xsd:element minOccurs="0" ref="cdd:append" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType ecore:name="FunctionGroupsConfig" name="function-groups-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						ref="cdd:functions" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="FunctionsConfig" name="functions-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:uris-and-refs-type">
				<xsd:sequence>
					<xsd:choice ecore:featureMap="group" maxOccurs="unbounded">
						<xsd:element
							ecore:upperBound="-1"
							ecore:reference="cdd:functions-type"
							minOccurs="0" name="ref" type="xsd:IDREF"/>
						<xsd:element ecore:upperBound="-1" minOccurs="0" ref="cdd:uri" />
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="GetPropertyConfig" name="get-property-type">
		<xsd:attribute name="name" type="xsd:string" />
		<xsd:attribute name="path" type="xsd:string" />
		<xsd:attribute name="reference" type="xsd:string" />
		<xsd:attribute name="threshold" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType ecore:name="HttpConfig" name="http-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element ecore:name="acceptCount" minOccurs="0"
				ref="cdd:accept-count">
				<xsd:annotation>
					<xsd:documentation>
						Maximum queue length for incoming connection
						requests. Any requests received when the queue
						is full will be
						refused.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ecore:name="connectionLinger" minOccurs="0"
				ref="cdd:connection-linger">
				<xsd:annotation>
					<xsd:documentation>
						Number of milliseconds during which the sockets
						used by the HTTP server will linger when they
						are closed.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ecore:name="connectionTimeout" minOccurs="0"
				ref="cdd:connection-timeout">
				<xsd:annotation>
					<xsd:documentation>
						Number of milliseconds the HTTP server will
						wait, after accepting a connection, for the
						request URI line to be
						presented.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ecore:name="documentPage" minOccurs="0"
				ref="cdd:document-page">
				<xsd:annotation>
					<xsd:documentation>
						Default static html file name.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ecore:name="documentRoot" minOccurs="0"
				ref="cdd:document-root">
				<xsd:annotation>
					<xsd:documentation>
						Location of static documents.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ecore:name="maxProcessors" minOccurs="0"
				ref="cdd:max-processors">
				<xsd:annotation>
					<xsd:documentation>
						Maximum number of simultaneous requests that can
						be handled by the HTTP server.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ecore:name="socketOutputBufferSize"
				minOccurs="0" ref="cdd:socket-output-buffer-size">
				<xsd:annotation>
					<xsd:documentation>
						The size (in bytes) of the socket output buffer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" ref="cdd:ssl" />
			<xsd:element ecore:name="staleConnectionCheck" minOccurs="0"
				ref="cdd:stale-connection-check">
				<xsd:annotation>
					<xsd:documentation>
						Whether stale connection check is to be used.
						Disabling stale connection check may result in
						slight performance
						improvement at the risk of
						getting an I/O error when executing a
						request.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ecore:name="tcpNoDelay" minOccurs="0"
				ref="cdd:tcp-no-delay">
				<xsd:annotation>
					<xsd:documentation>
						Value of TCP_NO_DELAY for the server socket. Set
						to true to improve performance under most
						circumstances.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType ecore:name="IndexesConfig" name="indexes-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="cdd:index" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:name="IndexConfig" name="index-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element form="qualified" maxOccurs="unbounded"
				minOccurs="0" name="property" type="cdd:override-type" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:name="InferenceAgentClassConfig"
		name="inference-agent-class-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:agent-class-type">
				<xsd:all>
					<xsd:element minOccurs="0" ref="cdd:businessworks" />
					<xsd:element ecore:name="checkForDuplicates" minOccurs="0"
						ref="cdd:check-for-duplicates" />
					<xsd:element ecore:name="concurrentRtc" minOccurs="0"
						ref="cdd:concurrent-rtc" />
					<xsd:element minOccurs="0" ref="cdd:destinations" />
					<xsd:element minOccurs="0" ref="cdd:load" />
					<xsd:element ecore:name="localCache" minOccurs="0"
						ref="cdd:local-cache" />
					<xsd:element ecore:name="propertyGroup" minOccurs="0"
						ref="cdd:property-group" />
					<xsd:element minOccurs="0" ref="cdd:rules" />
					<xsd:element ecore:name="sharedQueue" minOccurs="0"
						ref="cdd:shared-queue" />
					<xsd:element minOccurs="0" ref="cdd:shutdown" />
					<xsd:element minOccurs="0" ref="cdd:startup" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="InferenceEngineConfig" name="inference-engine-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ecore:name="checkForDuplicates" minOccurs="0"
						ref="cdd:check-for-duplicates" />
					<xsd:element ecore:name="concurrentRtc" minOccurs="0"
						ref="cdd:concurrent-rtc" />
					<xsd:element ecore:name="localCache" minOccurs="0"
						ref="cdd:local-cache" />
					<xsd:element ecore:name="propertyGroup" minOccurs="0"
						ref="cdd:property-group" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="JobManagerConfig" name="job-manager-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element ecore:name="jobPoolQueueSize" ref="cdd:job-pool-queue-size" />
			<xsd:element ecore:name="jobPoolThreadCount" ref="cdd:job-pool-thread-count" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType ecore:name="LineLayoutConfig" name="line-layout-type">
        <xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="cdd:enabled" />
			<xsd:element ref="cdd:class" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="cdd:arg" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:name="LoadConfig" name="load-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ecore:name="maxActive" ref="cdd:max-active" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType ecore:name="LoadBalancerConfigsConfig" name="load-balancer-configs-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ecore:name="loadBalancerPairConfigs" maxOccurs="1" minOccurs="1" ref="cdd:pair-configs" />
			<xsd:element ecore:name="loadBalancerAdhocConfigs" maxOccurs="1" minOccurs="1" ref="cdd:adhoc-configs" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:name="LoadBalancerAdhocConfigsConfig" name="load-balancer-adhoc-configs-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ecore:name="loadBalancerAdhocConfigs" maxOccurs="unbounded" minOccurs="0" ref="cdd:adhoc-config" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:name="LoadBalancerPairConfigsConfig" name="load-balancer-pair-configs-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ecore:name="loadBalancerPairConfigs" maxOccurs="unbounded" minOccurs="0" ref="cdd:pair-config" />
		</xsd:sequence>
	</xsd:complexType>		
	<xsd:complexType ecore:name="LoadBalancerAdhocConfigConfig" name="load-balancer-adhoc-config-type">
			<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element minOccurs="0" ref="cdd:name" />
					<xsd:element minOccurs="0" ref="cdd:channel" />
					<xsd:element ecore:name="propertyGroup" minOccurs="0" ref="cdd:property-group" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="LoadBalancerPairConfigConfig" name="load-balancer-pair-config-type">
			<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element minOccurs="0" ref="cdd:name" />
					<xsd:element minOccurs="0" ref="cdd:channel" />
					<xsd:element minOccurs="0" ref="cdd:key" />
					<xsd:element minOccurs="0" ref="cdd:router" />
					<xsd:element minOccurs="0" ref="cdd:receiver" />
					<xsd:element ecore:name="propertyGroup" minOccurs="0" ref="cdd:property-group" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
		
	<xsd:complexType ecore:name="LocalCacheConfig" name="local-cache-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element minOccurs="0" ref="cdd:eviction" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="LogConfigsConfig" name="log-configs-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ecore:name="logConfig" maxOccurs="unbounded"
				minOccurs="0" ref="cdd:log-config" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:name="LogConfigConfig" name="log-config-type">
			<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element minOccurs="0" ref="cdd:enabled" />
					<xsd:element minOccurs="0" ref="cdd:roles" />
					<xsd:element ecore:name="lineLayout" minOccurs="0"
						ref="cdd:line-layout" />
					<xsd:element minOccurs="0" ref="cdd:terminal" />
					<xsd:element minOccurs="0" ref="cdd:files" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType ecore:name="MemoryManagerConfig" name="memory-manager-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:object-manager-type" />
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType ecore:name="MmActionConfigSetConfig"
		name="mm-action-config-set-type">
		<xsd:sequence>
			<xsd:element ecore:name="mmActionConfig" maxOccurs="unbounded"
				ref="cdd:mm-action-config" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:name="MmActionConfigConfig" name="mm-action-config-type">
		<xsd:all>
			<xsd:element ecore:name="mmTriggerCondition" ref="cdd:mm-trigger-condition" />
			<xsd:element ecore:name="mmAction" ref="cdd:mm-action" />
		</xsd:all>
		<xsd:attribute ecore:name="actionName" name="action-name"
			type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType ecore:name="MmActionConfig" name="mm-action-type">
		<xsd:sequence>
			<xsd:element ecore:name="mmExecuteCommand" maxOccurs="unbounded"
				minOccurs="0" ref="cdd:mm-execute-command" />
			<xsd:element ecore:name="mmSendEmail" maxOccurs="unbounded"
				minOccurs="0" ref="cdd:mm-send-email" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:name="MmAgentClassConfig" name="mm-agent-class-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:agent-class-type">
				<xsd:all>
					<xsd:element ecore:name="mmInferenceAgentClass" name="mm-inference-agent-class"
							ecore:reference="cdd:inference-agent-class-type"
							type="xsd:IDREF"/>
					<xsd:element ecore:name="mmQueryAgentClass" name="mm-query-agent-class"
							ecore:reference="cdd:query-agent-class-type"
							type="xsd:IDREF"/>
					<xsd:element ecore:name="alertConfigSet" ref="cdd:alert-config-set" />
					<xsd:element ecore:name="ruleConfig" ref="cdd:rule-config" />
					<xsd:element ecore:name="mmActionConfigSet" ref="cdd:mm-action-config-set" />
					<xsd:element ecore:name="propertyGroup" minOccurs="0"
						ref="cdd:property-group" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="MmAlertConfig" name="mm-alert-type">
		<xsd:attribute name="path" type="xsd:string" />
		<xsd:attribute name="severity" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType ecore:name="MmExecuteCommandConfig"
		name="mm-execute-command-type">
		<xsd:attribute name="command" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType ecore:name="MmHealthLevelConfig" name="mm-health-level-type">
		<xsd:attribute name="path" type="xsd:string" />
		<xsd:attribute name="value" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType ecore:name="MmSendEmailConfig" name="mm-send-email-type">
		<xsd:attribute name="cc" type="xsd:string" />
		<xsd:attribute name="msg" type="xsd:string" />
		<xsd:attribute name="subject" type="xsd:string" />
		<xsd:attribute name="to" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType ecore:name="MmTriggerConditionConfig"
		name="mm-trigger-condition-type">
		<xsd:all>
			<xsd:element ecore:name="mmHealthLevel" minOccurs="0"
				ref="cdd:mm-health-level" />
			<xsd:element ecore:name="mmAlert" minOccurs="0"
				ref="cdd:mm-alert" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType ecore:name="NotificationConfig" name="notification-type">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" ref="cdd:property" />
		</xsd:sequence>
		<xsd:attribute name="range" type="xsd:string" />
		<xsd:attribute name="tolerance" type="xsd:string" />
	</xsd:complexType>
	
	<xsd:complexType ecore:name="ObjectManagementConfig"
		name="object-management-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
			<xsd:element ecore:name="memoryManager" minOccurs="0"
				ref="cdd:memory-manager" />
			<xsd:element ecore:name="cacheManager" minOccurs="0"
				ref="cdd:cache-manager" />
			</xsd:choice>
			<xsd:element ecore:name="dbConcepts" minOccurs="0"
				ref="cdd:db-concepts" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType abstract="true" ecore:name="ObjectManagerConfig" name="object-manager-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type" />
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType ecore:name="ObjectTableConfig" name="object-table-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element ecore:name="maxSize" minOccurs="0"
				ref="cdd:max-size" />
		</xsd:all>
	</xsd:complexType>
	<xsd:simpleType ecore:name="OntologyUriConfig" name="ontology-uri-type">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:complexType ecore:name="OverrideConfig" name="override-type" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:extension base="cdd:system-property-type" />
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="ProcessAgentClassConfig" name="process-agent-class-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:agent-class-type">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="cdd:load" />
					<xsd:element ecore:name="processEngine" maxOccurs="unbounded"
						minOccurs="0" ref="cdd:process-engine" />
					<xsd:element ecore:name="propertyGroup" minOccurs="0"
						ref="cdd:property-group" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="ProcessEngineConfig" name="process-engine-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element minOccurs="0" ref="cdd:process" />
					<xsd:element minOccurs="0" ref="cdd:startup" />
					<xsd:element minOccurs="0" ref="cdd:shutdown" />
					<xsd:element minOccurs="0" ref="cdd:rules" />
					<xsd:element minOccurs="0" ref="cdd:destinations" />
					<xsd:element minOccurs="0" ref="cdd:businessworks" />
					<xsd:element ecore:name="propertyGroup" minOccurs="0"
						ref="cdd:property-group" />
					<xsd:element ecore:name="jobManager" ref="cdd:job-manager" />
					<xsd:element ecore:name="inferenceEngine" ref="cdd:inference-engine" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="ProcessGroupsConfig" name="process-groups-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="cdd:processes" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="ProcessConfig" name="process-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:sequence>
					<xsd:choice ecore:featureMap="group" maxOccurs="unbounded">
						<xsd:element
							ecore:upperBound="-1"
							ecore:reference="cdd:processes-type"
							minOccurs="0" name="ref" type="xsd:IDREF"/>
						<xsd:element ecore:upperBound="-1" minOccurs="0" ref="cdd:uri" />
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="ProcessesConfig" name="processes-type" >
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
                <operation name="getAllProcesses" type="ecore:EEList{cdd:process-type}"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cdd:uris-and-refs-type">
				<xsd:sequence>
					<xsd:choice ecore:featureMap="group" maxOccurs="unbounded">
						<xsd:element
							ecore:upperBound="-1"
							ecore:reference="cdd:processes-type"
							minOccurs="0" name="ref" type="xsd:IDREF"/>
						<xsd:element ecore:upperBound="-1" minOccurs="0" ref="cdd:uri" />
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="ProcessingUnitsConfig" name="processing-units-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:sequence>
					<xsd:choice ecore:featureMap="group" maxOccurs="unbounded">
						<xsd:element ecore:name="processingUnit"
							ecore:upperBound="-1" minOccurs="0" ref="cdd:processing-unit" />
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="ProcessingUnitConfig" name="processing-unit-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:agents" />
					<xsd:element ecore:name="cacheStorageEnabled"
						minOccurs="0" ref="cdd:cache-storage-enabled" />
					<xsd:element ecore:name="dbConcepts" form="qualified"
						minOccurs="0" name="db-concepts" type="cdd:override-type" />
					<xsd:element
							ecore:reference="cdd:log-config-type"
							minOccurs="0" name="logs" type="xsd:IDREF"/>					
					<xsd:element ecore:name="hotDeploy" minOccurs="0"
						ref="cdd:hot-deploy" />
					<xsd:element minOccurs="0" ref="cdd:http" />
					<xsd:element ecore:name="propertyGroup" minOccurs="0"
						ref="cdd:property-group" />
					<xsd:element ecore:name="securityConfig" form="qualified" minOccurs="0" name="security-config" type="cdd:processing-unit-security-config-type"/>	
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType ecore:name="ProcessingUnitSecurityConfig" name="processing-unit-security-config-type">
	    <xsd:complexContent>
	      <xsd:extension base="cdd:security-config-type">
	        <xsd:sequence>
	          <xsd:element minOccurs="0" ref="cdd:role"/>
	          <xsd:element minOccurs="0" ref="cdd:controller"/>
	          <xsd:element minOccurs="0" ref="cdd:requester"/>
	        </xsd:sequence>
	      </xsd:extension>
	    </xsd:complexContent>
  	</xsd:complexType>
		
	<xsd:complexType ecore:name="ProjectionConfig" name="projection-type">
		<xsd:sequence>
			<xsd:element ecore:name="setProperty" maxOccurs="unbounded"
				ref="cdd:set-property" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:name="PropertyGroupConfig" name="property-group-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice ecore:featureMap="group" maxOccurs="unbounded">
				<xsd:element ecore:name="propertyGroup"
					ecore:upperBound="-1" minOccurs="0" ref="cdd:property-group" />
				<xsd:element ecore:upperBound="-1" minOccurs="0"
					ref="cdd:property" />
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="comment" type="xsd:anySimpleType" />
		<xsd:attribute name="name" type="xsd:anySimpleType" />
	</xsd:complexType>
	<xsd:complexType ecore:name="PropertyConfig" name="property-type">
		<xsd:attribute name="name" type="xsd:string" />
		<xsd:attribute name="type" type="xsd:string" />
		<xsd:attribute name="value" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType ecore:name="ProtocolsConfig" name="protocols-type">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				ref="cdd:protocol" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:name="ProviderConfig" name="provider-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element ref="cdd:name" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType ecore:name="QueryAgentClassConfig" name="query-agent-class-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:agent-class-type">
				<xsd:all>
					<xsd:element minOccurs="0" ref="cdd:destinations" />
					<xsd:element ref="cdd:startup" />
					<xsd:element minOccurs="0" ref="cdd:shutdown" />
					<xsd:element minOccurs="0" ref="cdd:load" />
					<xsd:element ecore:name="localCache" minOccurs="0"
						ref="cdd:local-cache" />
					<xsd:element ecore:name="propertyGroup" minOccurs="0"
						ref="cdd:property-group" />
					<xsd:element ecore:name="sharedQueue" minOccurs="0"
						ref="cdd:shared-queue" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
<!-- 	<xsd:complexType ecore:name="RefsConfig" name="refs-type"> -->
<!-- 		<xsd:complexContent> -->
<!-- 			<xsd:extension base="cdd:artifact-type"> -->
<!-- 				<xsd:sequence> -->
<!-- 					<xsd:choice ecore:featureMap="group" maxOccurs="unbounded"> -->
<!-- 						<xsd:element ecore:upperBound="-1" minOccurs="0" ref="cdd:ref" /> -->
<!-- 					</xsd:choice> -->
<!-- 				</xsd:sequence> -->
<!-- 			</xsd:extension> -->
<!-- 		</xsd:complexContent> -->
<!-- 	</xsd:complexType> -->
	<xsd:complexType ecore:name="RevisionConfig" name="revision-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element ref="cdd:version" />
			<xsd:element minOccurs="0" ref="cdd:author" />
			<xsd:element minOccurs="0" ref="cdd:date" />
			<xsd:element minOccurs="0" ref="cdd:comment" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType ecore:name="RuleConfigConfig" name="rule-config-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
					<body>return new java.util.Properties();</body>
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ecore:name="clusterMember" maxOccurs="unbounded"
				ref="cdd:cluster-member" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:name="RulesetsConfig" name="rulesets-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						ref="cdd:rules" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="RulesConfig" name="rules-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:uris-and-refs-type">
				<xsd:sequence>
					<xsd:choice ecore:featureMap="group" maxOccurs="unbounded">
						<xsd:element
							ecore:upperBound="-1"
							ecore:reference="cdd:rules-type"
							minOccurs="0" name="ref" type="xsd:IDREF"/>
						<xsd:element ecore:upperBound="-1" minOccurs="0" ref="cdd:uri" />
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="RuleConfig" name="rule-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:attribute default="true" name="enabled" type="xsd:boolean" />
				<xsd:attribute name="uri" type="cdd:ontology-uri-type"
					use="required" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType abstract="true" ecore:name="SecurityConfig" name="security-config-type">
	    <xsd:annotation>
	      <xsd:appinfo ecore:key="operations" source="http://www.eclipse.org/emf/2002/Ecore">
	        <operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
	          <body>return new java.util.Properties();</body>
	        </operation>
	      </xsd:appinfo>
	    </xsd:annotation>
	</xsd:complexType>
	
	<xsd:complexType ecore:name="SecurityController" name="security-controller-type">
	  <xsd:sequence>
	    <xsd:element ecore:name="policyFile" minOccurs="0" ref="cdd:policy-file"/>
	    <xsd:element ecore:name="identityPassword" minOccurs="0" ref="cdd:identity-password"/>
	  </xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType ecore:name="SecurityOverrideConfig" name="security-override-type" mixed="true">
	  <xsd:complexContent mixed="true">
	    <xsd:extension base="cdd:override-type">
	      <xsd:attribute ecore:unsettable="false" name="override" type="xsd:boolean"/>
	    </xsd:extension>
	  </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType ecore:name="SecurityRequester" name="security-requester-type">
	  <xsd:sequence>
	    <xsd:element ecore:name="tokenFile" minOccurs="0" ref="cdd:token-file"/>
	    <xsd:element ecore:name="identityPassword" minOccurs="0" ref="cdd:identity-password"/>
	    <xsd:element ecore:name="certificateKeyFile" minOccurs="0" ref="cdd:certificate-key-file"/>
	    <xsd:element ecore:name="domainName" minOccurs="0" ref="cdd:domain-name"/>
	    <xsd:element ecore:name="userName" minOccurs="0" ref="cdd:user-name"/>
	    <xsd:element ecore:name="userPassword" minOccurs="0" ref="cdd:user-password"/>
	  </xsd:sequence>
	</xsd:complexType>
		
	<xsd:complexType ecore:name="SetPropertyConfig" name="set-property-type">
		<xsd:all>
			<xsd:element ecore:name="childClusterMember" minOccurs="0"
				ref="cdd:child-cluster-member" />
			<xsd:element minOccurs="0" ref="cdd:notification" />
		</xsd:all>
		<xsd:attribute name="name" type="xsd:string" />
		<xsd:attribute ecore:name="setPropertyName" name="set-property-name"
			type="xsd:string" />
		<xsd:attribute name="value" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType ecore:name="SharedQueueConfig" name="shared-queue-type">
		<xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element minOccurs="0" ref="cdd:size" />
			<xsd:element minOccurs="0" ref="cdd:workers" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType ecore:name="SslConfig" name="ssl-type">
		<xsd:all>
			<xsd:element ref="cdd:protocols" />
			<xsd:element ref="cdd:ciphers" />
			<xsd:element ecore:name="keyManagerAlgorithm" ref="cdd:key-manager-algorithm" />
			<xsd:element ecore:name="trustManagerAlgorithm" ref="cdd:trust-manager-algorithm" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType ecore:name="SystemPropertyConfig" mixed="true"
		name="system-property-type">
		<xsd:attribute ecore:name="systemProperty" name="system-property"
			type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType ecore:name="TerminalConfig" name="terminal-type">
        <xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
				<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
				</operation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element minOccurs="0" ref="cdd:enabled" />
			<xsd:element ecore:name="sysErrRedirect" minOccurs="0"
				ref="cdd:sys-err-redirect" />
			<xsd:element ecore:name="sysOutRedirect" minOccurs="0"
				ref="cdd:sys-out-redirect" />
			<xsd:element minOccurs="0" ref="cdd:encoding" />
		</xsd:all>
	</xsd:complexType>
	<xsd:simpleType ecore:name="ThreadingModelConfig" name="threading-model-type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration ecore:name="sharedQueue" value="shared-queue" />
			<xsd:enumeration value="workers" />
			<xsd:enumeration value="caller" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType abstract="true" ecore:name="UrisAndRefsConfig" name="uris-and-refs-type">
        <xsd:annotation>
			<xsd:appinfo ecore:key="operations"
				source="http://www.eclipse.org/emf/2002/Ecore">
                <operation name="getAllUris" type="ecore:EEList{ecore:EString}"/>
                <operation name="getRef" type="ecore:EEList{? extends cdd:uris-and-refs-type}"/>
                <operation name="getUri" type="ecore:EEList{ecore:EString}"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType ecore:name="UrisConfig" name="uris-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:sequence>
					<xsd:choice ecore:featureMap="group" maxOccurs="unbounded">
						<xsd:element ecore:upperBound="-1" minOccurs="0" ref="cdd:uri" />
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType ecore:name="FieldEncryptionConfig" name="encryption-type">
    	<xsd:annotation>
      		<xsd:appinfo ecore:key="operations" source="http://www.eclipse.org/emf/2002/Ecore">
        		<operation name="toProperties" type="ecore:EMap{ecore:EJavaObject, ecore:EJavaObject}">
          			<body>return new java.util.Properties();</body>
        		</operation>
      		</xsd:appinfo>
    	</xsd:annotation>
    	<xsd:sequence>
      		<xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="property" type="cdd:override-type"/>
    	</xsd:sequence>
  	</xsd:complexType>
</xsd:schema>
