runtime/core/common/src/cdd-old.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xml:lang="en"
	targetNamespace="http://tibco.com/businessevents/configuration/5.1"
	xmlns:cdd="http://tibco.com/businessevents/configuration/5.1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<!-- - - - - - - - - Elements - - - - - - - - - -->

	<xsd:element name="accept-count" type="cdd:override-type" />
	<xsd:element name="address" type="cdd:override-type" />
	<xsd:element name="agent" type="cdd:agent-type" />
	<xsd:element name="agent-classes" type="cdd:agent-classes-type" />
	<xsd:element name="agents" type="cdd:agents-type" />
	<xsd:element name="alert-config" type="cdd:alert-config-type" />
	<xsd:element name="alert-config-set" type="cdd:alert-config-set-type" />
	<xsd:element name="append" type="cdd:override-type" />
	<xsd:element name="arg" type="cdd:override-type" />
	<xsd:element name="author" type="cdd:override-type" />
	<xsd:element name="backing-store" type="cdd:backing-store-type" />
	<xsd:element name="backup-copies" type="cdd:override-type" />	
	<xsd:element name="businessworks" type="cdd:businessworks-type" />
	<xsd:element name="cache" type="cdd:cache-agent-class-type" />
	<xsd:element name="cache-agent-class" type="cdd:cache-agent-class-type" />
	<xsd:element name="cache-agent-quorum" type="cdd:override-type" />
	<xsd:element name="cache-aside" type="cdd:override-type" />
	<xsd:element name="cache-limited" type="cdd:override-type" />
	<xsd:element name="cache-loader-class" type="cdd:override-type" />
	<xsd:element name="cache-manager" type="cdd:cache-manager-type" />
	<xsd:element name="cache-mode" type="cdd:domain-object-mode-type" />
	<xsd:element name="cache-storage-enabled" type="cdd:override-type" />
	<xsd:element name="check-for-duplicates" type="cdd:override-type" />
	<xsd:element name="check-for-version" type="cdd:override-type" />
	<xsd:element name="check-interval" type="cdd:override-type" />
	<xsd:element name="checkpoint-interval" type="cdd:override-type" />
	<xsd:element name="checkpoint-ops-limit" type="cdd:override-type" />
	<xsd:element name="child-cluster-member" type="cdd:child-cluster-member-type" />
	<xsd:element name="cipher" type="cdd:override-type" />
	<xsd:element name="ciphers" type="cdd:ciphers-type" />
	<xsd:element name="class" type="cdd:override-type" />
	<xsd:element name="cluster" type="cdd:cluster-type" />
	<xsd:element name="cluster-member" type="cdd:cluster-member-type" />
	<xsd:element name="comment" type="cdd:override-type" />
	<xsd:element name="concurrent-rtc" type="cdd:override-type" />
	<xsd:element name="condition" type="cdd:condition-type" />
	<xsd:element name="connection-linger" type="cdd:override-type" />
	<xsd:element name="connection-timeout" type="cdd:override-type" />
	<xsd:element name="constant" type="cdd:override-type" />
	<xsd:element name="daemon" type="cdd:override-type" />
	<xsd:element name="dashboard-agent-class" type="cdd:dashboard-agent-class-type" />
	<xsd:element name="date" type="cdd:override-type" />
	<xsd:element name="db-concepts" type="cdd:db-concepts-type" />
	<xsd:element name="db-dir" type="cdd:override-type" />
	<xsd:element name="db-uris" type="cdd:uris-type" />
	<xsd:element name="default-mode" type="cdd:domain-object-mode-type" />
	<xsd:element name="delete-retracted" type="cdd:override-type" />
	<xsd:element name="destination" type="cdd:destination-type" />
	<xsd:element name="destination-groups" type="cdd:destination-groups-type" />
	<xsd:element name="destinations" type="cdd:destinations-type" />
	<xsd:element name="dir" type="cdd:override-type" />
	<xsd:element name="document-page" type="cdd:override-type" />
	<xsd:element name="document-root" type="cdd:override-type" />
	<xsd:element name="domain-object" type="cdd:domain-object-type" />
	<xsd:element name="domain-objects" type="cdd:domain-objects-type" />
	<xsd:element name="enabled" type="cdd:override-type" />
	<xsd:element name="enable-tracking" type="cdd:override-type" />
	<xsd:element name="encoding" type="cdd:override-type" />
	<xsd:element name="enforce-pools" type="cdd:override-type" />
	<xsd:element name="entity-cache-size" type="cdd:override-type" />
	<xsd:element name="eviction" type="cdd:eviction-type" />
	<xsd:element name="evict-on-update" type="cdd:override-type" />
	<xsd:element name="files" type="cdd:files-type" />
	<xsd:element name="function-groups" type="cdd:function-groups-type" />
	<xsd:element name="functions" type="cdd:functions-type" />
	<xsd:element name="get-property" type="cdd:get-property-type" />
	<xsd:element name="hot-deploy" type="cdd:override-type" />
	<xsd:element name="http" type="cdd:http-type" />
	<xsd:element name="inactivity-timeout" type="cdd:override-type" />
	<xsd:element name="index" type="cdd:index-type" />
	<xsd:element name="indexes" type="cdd:indexes-type" />
	<xsd:element name="inference-agent-class" type="cdd:inference-agent-class-type" />
	<xsd:element name="inference-engine" type="cdd:inference-engine-type" />
	<xsd:element name="initial-size" type="cdd:override-type" />
	<xsd:element name="job-manager" type="cdd:job-manager-type" />
	<xsd:element name="job-pool-queue-size" type="cdd:override-type" />
	<xsd:element name="job-pool-thread-count" type="cdd:override-type" />
	<xsd:element name="key" type="cdd:override-type" />
	<xsd:element name="key-manager-algorithm" type="cdd:override-type" />
	<xsd:element name="line-layout" type="cdd:line-layout-type" />
	<xsd:element name="load" type="cdd:load-type" />
	<xsd:element name="local-cache" type="cdd:local-cache-type" />
	<xsd:element name="log-config" type="cdd:log-config-type" />
	<xsd:element name="log-configs" type="cdd:log-configs-type" />
	<xsd:element name="logs" type="cdd:artifact-ref-type" />
	<xsd:element name="max-active" type="cdd:override-type" />
	<xsd:element name="max-number" type="cdd:override-type" />
	<xsd:element name="max-processors" type="cdd:override-type" />
	<xsd:element name="max-size" type="cdd:override-type" />
	<xsd:element name="max-time" type="cdd:override-type" />
	<xsd:element name="memory-manager" type="cdd:memory-manager-type" />
	<xsd:element name="message-encoding" type="xsd:string" />
	<xsd:element name="min-size" type="cdd:override-type" />
	<xsd:element name="mm-action" type="cdd:mm-action-type" />
	<xsd:element name="mm-action-config" type="cdd:mm-action-config-type" />
	<xsd:element name="mm-action-config-set" type="cdd:mm-action-config-set-type" />
	<xsd:element name="mm-agent-class" type="cdd:mm-agent-class-type" />
	<xsd:element name="mm-alert" type="cdd:mm-alert-type" />
	<xsd:element name="mm-execute-command" type="cdd:mm-execute-command-type" />
	<xsd:element name="mm-health-level" type="cdd:mm-health-level-type" />
	<xsd:element name="mm-inference-agent-class" type="cdd:artifact-ref-type" />
	<xsd:element name="mm-query-agent-class" type="cdd:artifact-ref-type" />
	<xsd:element name="mm-send-email" type="cdd:mm-send-email-type" />
	<xsd:element name="mm-trigger-condition" type="cdd:mm-trigger-condition-type" />
	<xsd:element name="mode" type="cdd:domain-object-mode-type" />
	<xsd:element name="name" type="cdd:override-type" />
	<xsd:element name="notification" type="cdd:notification-type" />
	<xsd:element name="object-management" type="cdd:object-management-type" />
	<xsd:element name="object-table" type="cdd:object-table-type" />
	<xsd:element name="port" type="cdd:override-type" />
	<xsd:element name="pre-load-caches" type="cdd:override-type" />
	<xsd:element name="pre-load-enabled" type="cdd:override-type" />
	<xsd:element name="pre-load-fetch-size" type="cdd:override-type" />
	<xsd:element name="pre-load-handles" type="cdd:override-type" />
	<xsd:element name="pre-processor" type="cdd:ontology-uri-type" />
	<xsd:element name="primary-connection" type="cdd:connection-type" />
	<xsd:element name="priority" type="cdd:override-type" />
	<xsd:element name="process" type="cdd:process-type" />
	<xsd:element name="process-agent-class" type="cdd:process-agent-class-type" />
	<xsd:element name="process-engine" type="cdd:process-engine-type" />
	<xsd:element name="processing-unit" type="cdd:processing-unit-type" />
	<xsd:element name="processing-units" type="cdd:processing-units-type" />
	<xsd:element name="projection" type="cdd:projection-type" />
	<xsd:element name="property" type="cdd:property-type" />
	<xsd:element name="property-cache-size" type="cdd:override-type" />
	<xsd:element name="property-check-interval" type="cdd:override-type" />
	<xsd:element name="property-group" type="cdd:property-group-type" />
	<xsd:element name="protocol" type="cdd:override-type" />
	<xsd:element name="protocols" type="cdd:protocols-type" />
	<xsd:element name="provider" type="cdd:provider-type" />
	<xsd:element name="query-agent-class" type="cdd:query-agent-class-type" />
	<xsd:element name="queue-size" type="cdd:override-type" />
	<xsd:element name="ref" type="cdd:artifact-ref-type" />
	<xsd:element name="retry-count" type="cdd:override-type" />
	<xsd:element name="reverse-references" type="cdd:override-type" />
	<xsd:element name="revision" type="cdd:revision-type" />
	<xsd:element name="roles" type="cdd:override-type" />
	<xsd:element name="rule" type="cdd:rule-type" />
	<xsd:element name="rule-config" type="cdd:rule-config-type" />
	<xsd:element name="rules" type="cdd:rules-type" />
	<xsd:element name="rulesets" type="cdd:rulesets-type" />
	<xsd:element name="secondary-connection" type="cdd:connection-type" />
	<xsd:element name="service" type="cdd:override-type" />
	<xsd:element name="set-property" type="cdd:set-property-type" />
	<xsd:element name="shared-queue" type="cdd:shared-queue-type" />
	<xsd:element name="shutdown" type="cdd:shutdown-type" />
	<xsd:element name="size" type="cdd:override-type" />
	<xsd:element name="skip-recovery" type="cdd:override-type" />
	<xsd:element name="socket-output-buffer-size" type="cdd:override-type" />
	<xsd:element name="ssl" type="cdd:ssl-type" />
	<xsd:element name="stale-connection-check" type="cdd:override-type" />
	<xsd:element name="startup" type="cdd:startup-type" />
	<xsd:element name="strategy" type="cdd:override-type" />
	<xsd:element name="subject" type="cdd:override-type" />
	<xsd:element name="subscribe" type="cdd:override-type" />
	<xsd:element name="sys-err-redirect" type="cdd:override-type" />
	<xsd:element name="sys-out-redirect" type="cdd:override-type" />
	<xsd:element name="table-name" type="cdd:override-type" />
	<xsd:element name="tcp-no-delay" type="cdd:override-type" />
	<xsd:element name="terminal" type="cdd:terminal-type" />
	<xsd:element name="thread-count" type="cdd:override-type" />
	<xsd:element name="threading-model" type="cdd:threading-model-type" />
	<xsd:element name="trust-manager-algorithm" type="cdd:override-type" />
	<xsd:element name="ttl" type="cdd:override-type" />
	<xsd:element name="type" type="cdd:override-type" />
	<xsd:element name="uri" type="cdd:ontology-uri-type" />
	<xsd:element name="version" type="xsd:string" />
	<xsd:element name="wait-timeout" type="cdd:override-type" />
	<xsd:element name="workers" type="cdd:override-type" />

	<!-- - - - - - - - - - Types - - - - - - - - - - -->

	<xsd:complexType name="agent-classes-type">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element ref="cdd:cache-agent-class" />
			<xsd:element ref="cdd:dashboard-agent-class" />
			<xsd:element ref="cdd:inference-agent-class" />
			<xsd:element ref="cdd:query-agent-class" />
			<xsd:element ref="cdd:mm-agent-class" />
			<xsd:element ref="cdd:process-agent-class" />
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="agent-type" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:ref" />
					<xsd:element ref="cdd:key" minOccurs="0" />
					<xsd:element ref="cdd:priority" minOccurs="0" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="agents-type">
		<xsd:sequence>
			<xsd:element ref="cdd:agent" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="alert-config-type">
		<xsd:all>
			<xsd:element ref="cdd:condition" />
			<xsd:element ref="cdd:projection" />
		</xsd:all>
		<xsd:attribute name="alert-name" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="alert-config-set-type">
		<xsd:sequence>
			<xsd:element ref="cdd:alert-config" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="artifact-type">
		<xsd:attribute name="id" type="xsd:ID" />
	</xsd:complexType>

	<xsd:simpleType name="artifact-ref-type">
		<xsd:restriction base="xsd:IDREF" />
	</xsd:simpleType>

	<xsd:complexType name="backing-store-type">
		<xsd:all>
			<xsd:element ref="cdd:cache-aside" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Enables cache-aside if true.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:cache-loader-class" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Coherence backing store implementation.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:enabled">
				<xsd:annotation>
					<xsd:documentation>
						Enables the backing store if true.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:enforce-pools" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Enables all the connection pools.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:primary-connection" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Primary connection to the database.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:secondary-connection" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Secondary connection to the database.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:strategy" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Whether to use jdbc or proprietary mode.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Database type, e.g. oracle or sqlserver.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="backing-store-for-domain-object-type">
		<xsd:all>
			<xsd:element name="properties" type="cdd:backing-store-for-properties-type"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Backing store configuration for the domain object's properties.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:enabled">
				<xsd:annotation>
					<xsd:documentation>
						Enables storage in the backing store, if true.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:table-name" minOccurs="0" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="backing-store-for-properties-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element name="property" type="cdd:backing-store-for-property-type" />
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="backing-store-for-property-type">
		<xsd:all>
			<xsd:element ref="cdd:reverse-references" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:max-size" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:name">
				<xsd:annotation>
					<xsd:documentation>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="businessworks-type">
		<xsd:sequence>
			<xsd:element ref="cdd:uri" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="cache-agent-class-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:sequence>
					<xsd:element ref="cdd:property-group" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="cache-manager-type">
		<xsd:all>
			<xsd:element ref="cdd:cache-agent-quorum" minOccurs="0" />
			<xsd:element ref="cdd:backing-store" minOccurs="0" />
			<xsd:element ref="cdd:domain-objects" minOccurs="0" />
			<xsd:element ref="cdd:provider" />
			<xsd:element ref="cdd:backup-copies" minOccurs="0" />
			<xsd:element ref="cdd:entity-cache-size" minOccurs="0" />
			<xsd:element ref="cdd:object-table" minOccurs="0" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="child-cluster-member-type">
		<xsd:sequence>
			<xsd:element ref="cdd:property" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="path" type="xsd:string" />
		<xsd:attribute name="tolerance" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="ciphers-type">
		<xsd:sequence>
			<xsd:element ref="cdd:cipher" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="cluster-member-type">
		<xsd:sequence>
			<xsd:element ref="cdd:set-property" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="path" type="xsd:string" />
		<xsd:attribute name="member-name" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="cluster-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:agent-classes" />
					<xsd:element ref="cdd:destination-groups" minOccurs="0" />
					<xsd:element ref="cdd:function-groups" minOccurs="0" />
					<!--<xsd:element ref="cdd:implementation" minOccurs="0"/> -->
					<xsd:element ref="cdd:log-configs" minOccurs="0" />
					<xsd:element ref="cdd:message-encoding" minOccurs="0" />
					<xsd:element ref="cdd:name" />
					<xsd:element ref="cdd:object-management" />
					<xsd:element ref="cdd:processing-units" />
					<xsd:element ref="cdd:property-group" minOccurs="0" />
					<xsd:element ref="cdd:revision" minOccurs="0" />
					<xsd:element ref="cdd:rulesets" minOccurs="0" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="condition-type">
		<xsd:sequence>
			<xsd:element ref="cdd:get-property" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="connection-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:initial-size" minOccurs="0" />
					<xsd:element ref="cdd:min-size" minOccurs="0" />
					<xsd:element ref="cdd:max-size" />
					<xsd:element ref="cdd:uri" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="dashboard-agent-class-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:rules" />
					<xsd:element ref="cdd:destinations" />
					<xsd:element ref="cdd:startup" />
					<xsd:element ref="cdd:shutdown" />
					<xsd:element ref="cdd:property-group" minOccurs="0" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="db-concepts-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:check-interval" minOccurs="0" />
					<xsd:element ref="cdd:db-uris" />
					<xsd:element ref="cdd:inactivity-timeout" minOccurs="0" />
					<xsd:element ref="cdd:initial-size" minOccurs="0" />
					<xsd:element ref="cdd:max-size" minOccurs="0" />
					<xsd:element ref="cdd:min-size" minOccurs="0" />
					<xsd:element ref="cdd:property-check-interval"
						minOccurs="0" />
					<xsd:element ref="cdd:retry-count" minOccurs="0" />
					<xsd:element ref="cdd:wait-timeout" minOccurs="0" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="domain-object-mode-type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="cache" />
			<xsd:enumeration value="cacheAndMemory" />
			<xsd:enumeration value="memory" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="domain-object-type">
		<xsd:all>
			<xsd:element name="backing-store"
				type="cdd:backing-store-for-domain-object-type" minOccurs="0" />
			<xsd:element ref="cdd:cache-limited" minOccurs="0" />
			<xsd:element ref="cdd:check-for-version" minOccurs="0" />
			<xsd:element ref="cdd:constant" minOccurs="0" />
			<xsd:element ref="cdd:enable-tracking" minOccurs="0" />
			<xsd:element ref="cdd:evict-on-update" minOccurs="0" />
			<xsd:element ref="cdd:indexes" minOccurs="0" />
			<xsd:element ref="cdd:mode" minOccurs="0" />
			<xsd:element ref="cdd:pre-load-enabled" minOccurs="0" />
			<xsd:element ref="cdd:pre-load-fetch-size" minOccurs="0" />
			<xsd:element ref="cdd:pre-load-handles" minOccurs="0" />
			<xsd:element ref="cdd:pre-processor" minOccurs="0" />
			<xsd:element ref="cdd:subscribe" minOccurs="0" />
			<xsd:element ref="cdd:uri" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="domain-objects-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:sequence>
					<xsd:element ref="cdd:default-mode" minOccurs="0" />
					<xsd:element ref="cdd:check-for-version" minOccurs="0" />
					<xsd:element ref="cdd:constant" minOccurs="0" />
					<xsd:element ref="cdd:enable-tracking" minOccurs="0" />
					<xsd:element ref="cdd:evict-on-update" minOccurs="0" />
					<xsd:element ref="cdd:cache-limited" minOccurs="0" />
					<xsd:element ref="cdd:subscribe" minOccurs="0" />
					<xsd:element ref="cdd:pre-load-enabled" minOccurs="0" />
					<xsd:element ref="cdd:pre-load-fetch-size" minOccurs="0" />
					<xsd:element ref="cdd:pre-load-handles" minOccurs="0" />
					<xsd:element ref="cdd:domain-object" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="destination-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:uri" />
					<xsd:element ref="cdd:pre-processor" minOccurs="0" />
					<xsd:element ref="cdd:threading-model" minOccurs="0" />
					<xsd:element ref="cdd:thread-count" minOccurs="0" />
					<xsd:element ref="cdd:queue-size" minOccurs="0" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="destination-groups-type">
		<xsd:sequence>
			<xsd:element ref="cdd:destinations" minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="destinations-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="cdd:ref" />
					<xsd:element ref="cdd:destination" />
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="eviction-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:max-size" minOccurs="0" />
					<xsd:element ref="cdd:max-time" minOccurs="0" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="files-type">
		<xsd:all>
			<xsd:element ref="cdd:enabled" />
			<xsd:element ref="cdd:dir" minOccurs="0" />
			<xsd:element ref="cdd:max-number" minOccurs="0" />
			<xsd:element ref="cdd:max-size" minOccurs="0" />
			<xsd:element ref="cdd:name" minOccurs="0" />
			<xsd:element ref="cdd:append" minOccurs="0" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="function-groups-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:sequence>
					<xsd:element ref="cdd:functions" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="functions-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:uris-and-refs-type" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="get-property-type">
		<xsd:attribute name="path" type="xsd:string" />
		<xsd:attribute name="name" type="xsd:string" />
		<xsd:attribute name="reference" type="xsd:string" />
		<xsd:attribute name="threshold" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="http-type">
		<xsd:all>
			<xsd:element ref="cdd:accept-count" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Maximum queue length for incoming connection requests.
						Any requests received when the queue is full will be refused.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:connection-linger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Number of milliseconds during which the sockets used by the HTTP server
						will linger when they are closed.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:connection-timeout" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Number of milliseconds the HTTP server will wait, after accepting a
						connection,
						for the request URI line to be presented.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:document-page" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Default static html file name.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:document-root" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Location of static documents.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:max-processors" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Maximum number of simultaneous requests that can be handled by the HTTP
						server.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:socket-output-buffer-size"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The size (in bytes) of the socket output buffer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:ssl" minOccurs="0" />
			<xsd:element ref="cdd:stale-connection-check" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Whether stale connection check is to be used.
						Disabling stale connection check may result in slight performance
						improvement
						at the risk of getting an I/O error when executing a request.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cdd:tcp-no-delay" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Value of TCP_NO_DELAY for the server socket.
						Set to true to improve performance under most circumstances.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="index-type">
		<xsd:sequence>
			<xsd:element name="property" type="cdd:override-type"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="indexes-type">
		<xsd:sequence>
			<xsd:element ref="cdd:index" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="inference-engine-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:check-for-duplicates" minOccurs="0" />
					<xsd:element ref="cdd:concurrent-rtc" minOccurs="0" />
					<xsd:element ref="cdd:local-cache" minOccurs="0" />
					<xsd:element ref="cdd:property-group" minOccurs="0" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="inference-agent-class-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:businessworks" minOccurs="0" />
					<xsd:element ref="cdd:check-for-duplicates" minOccurs="0" />
					<xsd:element ref="cdd:concurrent-rtc" minOccurs="0" />
					<xsd:element ref="cdd:destinations" minOccurs="0" />
					<xsd:element ref="cdd:load" minOccurs="0" />
					<xsd:element ref="cdd:local-cache" minOccurs="0" />
					<xsd:element ref="cdd:property-group" minOccurs="0" />
					<xsd:element ref="cdd:rules" minOccurs="0" />
					<xsd:element ref="cdd:shared-queue" minOccurs="0" />
					<xsd:element ref="cdd:shutdown" minOccurs="0" />
					<xsd:element ref="cdd:startup" minOccurs="0" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="line-layout-type">
		<xsd:sequence>
			<xsd:element ref="cdd:enabled" minOccurs="0" />
			<xsd:element ref="cdd:class" />
			<xsd:element ref="cdd:arg" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="job-manager-type">
		<xsd:all>
			<xsd:element ref="cdd:job-pool-queue-size"></xsd:element>
			<xsd:element ref="cdd:job-pool-thread-count"></xsd:element>
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="load-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:max-active" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="local-cache-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:eviction" minOccurs="0" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="log-config-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:enabled" minOccurs="0" />
					<xsd:element ref="cdd:roles" minOccurs="0" />
					<xsd:element ref="cdd:line-layout" minOccurs="0" />
					<xsd:element ref="cdd:terminal" minOccurs="0" />
					<xsd:element ref="cdd:files" minOccurs="0" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="log-configs-type">
		<xsd:sequence>
			<xsd:element ref="cdd:log-config" minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="memory-manager-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="mm-agent-class-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:mm-inference-agent-class" />
					<xsd:element ref="cdd:mm-query-agent-class" />
					<xsd:element ref="cdd:alert-config-set" />
					<xsd:element ref="cdd:rule-config" />
					<xsd:element ref="cdd:mm-action-config-set" />
					<xsd:element ref="cdd:property-group" minOccurs="0" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="mm-action-config-set-type">
		<xsd:sequence>
			<xsd:element ref="cdd:mm-action-config" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="mm-action-config-type">
		<xsd:sequence>
			<xsd:element ref="cdd:mm-trigger-condition" />
			<xsd:element ref="cdd:mm-action" />
		</xsd:sequence>
		<xsd:attribute name="action-name" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="mm-trigger-condition-type">
		<xsd:choice>
			<xsd:element ref="cdd:mm-health-level" />
			<xsd:element ref="cdd:mm-alert" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="mm-health-level-type">
		<xsd:attribute name="path" type="xsd:string" />
		<xsd:attribute name="value" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="mm-alert-type">
		<xsd:attribute name="path" type="xsd:string" />
		<xsd:attribute name="severity" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="mm-action-type">
		<xsd:sequence>
			<xsd:element ref="cdd:mm-execute-command" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element ref="cdd:mm-send-email" minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="mm-execute-command-type">
		<xsd:attribute name="command" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="mm-send-email-type">
		<xsd:attribute name="to" type="xsd:string" />
		<xsd:attribute name="cc" type="xsd:string" />
		<xsd:attribute name="subject" type="xsd:string" />
		<xsd:attribute name="msg" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="notification-type">
		<xsd:sequence>
			<xsd:element ref="cdd:property" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="tolerance" type="xsd:string" />
		<xsd:attribute name="range" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="object-management-type">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="cdd:memory-manager" />
				<xsd:element ref="cdd:cache-manager" />
				<!-- <xsd:element ref="cdd:berkeley-db-manager"/> -->
			</xsd:choice>
			<xsd:element ref="cdd:db-concepts" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="object-table-type">
		<xsd:all>
			<xsd:element ref="cdd:max-size" minOccurs="0" />
		</xsd:all>
	</xsd:complexType>

	<xsd:simpleType name="ontology-uri-type">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>

	<xsd:complexType name="override-type" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:extension base="cdd:system-property-type">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>



	<xsd:complexType name="process-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:uris-and-refs-type" />
		</xsd:complexContent>
	</xsd:complexType>



	<xsd:complexType name="process-agent-class-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:sequence>
					<xsd:element ref="cdd:load" minOccurs="0" />
					<xsd:element ref="cdd:process-engine" minOccurs="0"
						maxOccurs="unbounded"></xsd:element>
					<xsd:element ref="cdd:property-group" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="process-engine-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:process" minOccurs="0" />
					<xsd:element ref="cdd:startup" minOccurs="0" />
					<xsd:element ref="cdd:shutdown" minOccurs="0" />
					<xsd:element ref="cdd:rules" minOccurs="0" />
					<xsd:element ref="cdd:destinations" minOccurs="0" />
					<xsd:element ref="cdd:businessworks" minOccurs="0" />
					<xsd:element ref="cdd:property-group" minOccurs="0" />
					<xsd:element ref="cdd:job-manager" minOccurs="1" />
					<xsd:element ref="cdd:inference-engine" minOccurs="1" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="processing-unit-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:agents" />
					<xsd:element ref="cdd:cache-storage-enabled" minOccurs="0" />
					<xsd:element name="db-concepts" type="cdd:override-type"
						minOccurs="0" />
					<xsd:element ref="cdd:logs" minOccurs="0" />
					<xsd:element ref="cdd:hot-deploy" minOccurs="0" />
					<xsd:element ref="cdd:http" minOccurs="0" />
					<xsd:element ref="cdd:property-group" minOccurs="0" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="processing-units-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:sequence>
					<xsd:choice maxOccurs="unbounded">
						<xsd:element ref="cdd:processing-unit" />
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="projection-type">
		<xsd:sequence>
			<xsd:element ref="cdd:set-property" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="property-group-type">
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="cdd:property-group" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="cdd:property" minOccurs="0" maxOccurs="unbounded" />
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="name" />
		<xsd:attribute name="comment" />
	</xsd:complexType>

	<xsd:complexType name="property-type">
		<xsd:attribute name="name" type="xsd:string" />
		<xsd:attribute name="type" type="xsd:string" />
		<xsd:attribute name="value" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="protocols-type">
		<xsd:sequence>
			<xsd:element ref="cdd:protocol" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="provider-type">
		<xsd:all>
			<xsd:element ref="cdd:name" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="query-agent-class-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:all>
					<xsd:element ref="cdd:destinations" minOccurs="0" />
					<xsd:element ref="cdd:startup" minOccurs="1" />
					<xsd:element ref="cdd:shutdown" minOccurs="0" />
					<xsd:element ref="cdd:load" minOccurs="0" />
					<xsd:element ref="cdd:local-cache" minOccurs="0" />
					<xsd:element ref="cdd:property-group" minOccurs="0" />
					<xsd:element ref="cdd:shared-queue" minOccurs="0" />
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="refs-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="cdd:ref" />
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="revision-type">
		<xsd:all>
			<xsd:element ref="cdd:version" />
			<xsd:element ref="cdd:author" minOccurs="0" />
			<xsd:element ref="cdd:date" minOccurs="0" />
			<xsd:element ref="cdd:comment" minOccurs="0" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="rule-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:attribute name="uri" type="cdd:ontology-uri-type"
					use="required" />
				<xsd:attribute name="enabled" type="xsd:boolean"
					default="true" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="rule-config-type">
		<xsd:sequence>
			<xsd:element ref="cdd:cluster-member" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="rules-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:uris-and-refs-type" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="rulesets-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:sequence>
					<xsd:element ref="cdd:rules" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="set-property-type">
		<xsd:choice>
			<xsd:element ref="cdd:child-cluster-member" minOccurs="0" />
			<xsd:element ref="cdd:notification" minOccurs="0" />
		</xsd:choice>
		<xsd:attribute name="name" type="xsd:string" />
		<xsd:attribute name="value" type="xsd:string" />
		<xsd:attribute name="set-property-name" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="shared-queue-type">
		<xsd:all>
			<xsd:element ref="cdd:size" minOccurs="0" />
			<xsd:element ref="cdd:workers" minOccurs="0" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="shutdown-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:uris-and-refs-type" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ssl-type">
		<xsd:all>
			<xsd:element ref="cdd:protocols" />
			<xsd:element ref="cdd:ciphers" />
			<xsd:element ref="cdd:key-manager-algorithm" />
			<xsd:element ref="cdd:trust-manager-algorithm" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="startup-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:uris-and-refs-type" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="system-property-type" mixed="true">
		<xsd:attribute name="system-property" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="terminal-type">
		<xsd:all>
			<xsd:element ref="cdd:enabled" minOccurs="0" />
			<xsd:element ref="cdd:sys-err-redirect" minOccurs="0" />
			<xsd:element ref="cdd:sys-out-redirect" minOccurs="0" />
			<xsd:element ref="cdd:encoding" minOccurs="0" />
		</xsd:all>
	</xsd:complexType>

	<xsd:simpleType name="threading-model-type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="shared-queue" />
			<xsd:enumeration value="workers" />
			<xsd:enumeration value="caller" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="uris-and-refs-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="cdd:ref" />
					<xsd:element ref="cdd:uri" />
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="uris-type">
		<xsd:complexContent>
			<xsd:extension base="cdd:artifact-type">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="cdd:uri" />
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


</xsd:schema>
