designtime/webstudio/WebStudio/src/Palette.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML 2013 Designer Edition (Trial) 11.0.11.4603 (http://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="palette">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="groups">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="group">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="tooltip" type="xs:string" />
                    <xs:element name="icon" type="xs:string" />
                    <xs:element name="visible" type="xs:boolean" />
                    <xs:element name="groupId" type="xs:string" />
                    <xs:element name="items">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="item">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="title" type="xs:string" />
                                <xs:element name="tooltip" type="xs:string" />
                                <xs:element name="icon" type="xs:string" />
                                <xs:element name="visible" type="xs:boolean" />
                                <xs:element name="itemId" type="xs:string" />
                                <xs:element name="emfType" type="xs:string" />
                                <xs:element minOccurs="0" name="extendedType" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="Id" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Id" type="xs:unsignedByte" use="required" />
      <xs:attribute name="extId" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>