designtime/studio/plugins/com.tibco.cep.studio.core/src/com/tibco/cep/studio/core/mapper/resources/_BaseConcept.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:tns="www.tibco.com/be/ontology/_BaseConcept" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="www.tibco.com/be/ontology/_BaseConcept">
    <xs:complexType block="extension" name="_BaseConcept">
        <xs:attribute name="Id" type="xs:long"/>
        <xs:attribute name="extId" type="xs:string"/>
        <xs:attribute name="type" type="xs:string"/>
    </xs:complexType>
    <xs:element name="_BaseConcept" type="tns:_BaseConcept"/>
</xs:schema>
