designtime/studio/plugins/com.tibco.cep.studio.core/src/com/tibco/cep/studio/core/mapper/resources/_BaseSOAPEvent.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:tns="www.tibco.com/be/ontology/_BaseSOAPEvent" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="www.tibco.com/be/ontology/_BaseSOAPEvent">
    <xs:complexType block="extension" name="_BaseSOAPEvent">
        <xs:attribute name="Id" type="xs:long"/>
        <xs:attribute name="extId" type="xs:string"/>
        <xs:attribute name="soapAction" type="xs:string"/>
    </xs:complexType>
    <xs:element name="_BaseSOAPEvent" type="tns:_BaseSOAPEvent"/>
</xs:schema>
