designtime/webstudio/WebStudio/war/apidoc/xsd/AnalyzeDTResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="status"/>
        <xs:element type="xs:int" name="startRow"/>
        <xs:element type="xs:int" name="endRow"/>
        <xs:element type="xs:int" name="totalRows"/>
	<xs:element type="xs:string" name="errorCode" maxOccurs="1" minOccurs="0"/>
        <xs:element name="data" maxOccurs="1" minOccurs="0"> 
          <xs:complexType  mixed="true">
            <xs:sequence>
               <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="artifactDetails">
                      <xs:complexType>
                        <xs:complexContent>
							<xs:extension base="AnalyzeDT"/>
						</xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="Id" use="optional"/>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="Id" use="optional"/>
            <xs:attribute type="xs:string" name="type" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:int" name="Id" use="optional"/>
      <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
  </xs:element>

	<xs:complexType name="AnalyzeDT">
		<xs:sequence>
			<xs:element type="xs:string" name="artifactPath" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="projectName" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="artifactType" maxOccurs="1" minOccurs="0"/>
			<xs:element type="TableAnalyzerProblem" name="problem" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="Id"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
	</xs:complexType>
	
	
	<xs:complexType name="TableAnalyzerProblem">
		<xs:sequence>
			<xs:element type="xs:string" name="errorCode" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="errorMessage" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="severity" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="location" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="problemType" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:boolean" name="isWarning" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="details" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="criterion" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="otherRuleId" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="columnName" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="pageNum" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="columnUIName" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="minValue" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="maxValue" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="rangeTypeProblem" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="rangeChar1" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="rangeChar2" maxOccurs="1" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="Id"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
	</xs:complexType>
</xs:schema>