designtime/webstudio/WebStudio/war/apidoc/xsd/ArtifactHistoryResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="status"/>
        <xs:element type="xs:int" name="startRow"/>
        <xs:element type="xs:int" name="endRow"/>
        <xs:element type="xs:int" name="totalRows"/>
	    <xs:element type="xs:string" name="errorCode" maxOccurs="1" minOccurs="0"/>
        <xs:element name="data" maxOccurs="1" minOccurs="0"> 
          <xs:complexType  mixed="true">
            <xs:sequence>
               <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
               		<xs:element type="xs:string" name="userName" maxOccurs="1" minOccurs="1"/>
					<xs:element type="xs:string" name="projectName" maxOccurs="1" minOccurs="1"/>
					<xs:element type="xs:string" name="checkinComments" maxOccurs="1" minOccurs="0"/>
					<xs:element type="xs:long" name="revisionId" maxOccurs="1" minOccurs="1"/>
					<xs:element type="xs:dateTime" name="checkinTime" maxOccurs="1" minOccurs="1"/>     
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="Id" use="optional"/>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="Id" use="optional"/>
            <xs:attribute type="xs:string" name="type" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:int" name="Id" use="optional"/>
      <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>