designtime/webstudio/WebStudio/war/apidoc/xsd/artifactContent_Process.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="process">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="label"/>
        <xs:element type="xs:string" name="author"/>
        <xs:element type="xs:byte" name="version"/>
        <xs:element type="xs:string" name="processType"/>
        <xs:element type="xs:float" name="zoomLevel"/>
        <xs:element name="laneset">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="lane">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="laneId"/>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="Id"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:short" name="Id"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="properties">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="isMultiple"/>
                    <xs:element type="xs:string" name="path" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="Id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:short" name="Id"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="flowNodes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="flowNodeElement" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="elementId"/>
                    <xs:element type="xs:string" name="elementType"/>
                    <xs:element type="xs:string" name="elementName"/>
                    <xs:element name="nodePoint">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:float" name="x"/>
                          <xs:element type="xs:float" name="y"/>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="Id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="labelPoint">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:float" name="x"/>
                          <xs:element type="xs:float" name="y"/>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="Id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="resourcePath" minOccurs="0"/>
                    <xs:element type="xs:string" name="incoming" minOccurs="0"/>
                    <xs:element type="xs:string" name="outgoing" minOccurs="0"/>
                    <xs:element name="lanes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="lane">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="laneId"/>
                              </xs:sequence>
                              <xs:attribute type="xs:short" name="Id" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="Id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:byte" name="uniqueId"/>
                    <xs:element type="xs:byte" name="elementVersion"/>
                    <xs:element type="xs:string" name="toolId"/>
                    <xs:element type="xs:string" name="checkpoint"/>
                    <xs:element type="xs:byte" name="priorityValue"/>
                    <xs:element type="xs:byte" name="opTimeout"/>
                    <xs:element name="eventDefinition" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="definitionType"/>
                          <xs:element type="xs:string" name="definitionId"/>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="Id"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="Id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:short" name="Id"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="processId"/>
        <xs:element name="sequenceFlows">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sequenceElement" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="elementId"/>
                    <xs:element type="xs:string" name="elementType"/>
                    <xs:element type="xs:string" name="elementName"/>
                    <xs:element name="lanes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="lane">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="laneId"/>
                              </xs:sequence>
                              <xs:attribute type="xs:short" name="Id" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="Id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:byte" name="uniqueId"/>
                    <xs:element type="xs:byte" name="elementVersion"/>
                    <xs:element type="xs:string" name="isImmediate"/>
                    <xs:element type="xs:string" name="targetReference"/>
                    <xs:element type="xs:string" name="sourceReference"/>
                    <xs:element name="startPoint">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:float" name="x"/>
                          <xs:element type="xs:float" name="y"/>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="Id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="endPoint">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:float" name="x"/>
                          <xs:element type="xs:float" name="y"/>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="Id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="bendPointList" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="bendPoints">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:float" name="x"/>
                                <xs:element type="xs:float" name="y"/>
                              </xs:sequence>
                              <xs:attribute type="xs:short" name="Id" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="Id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="Id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:short" name="Id"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="creationDate"/>
        <xs:element type="xs:string" name="lastModificationDate"/>
        <xs:element name="annotations">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:short" name="Id"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="associations">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:short" name="Id"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="documentation">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="docId"/>
              <xs:element type="xs:string" name="text"/>
            </xs:sequence>
            <xs:attribute type="xs:short" name="Id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:short" name="Id"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
