designtime/webstudio/WebStudio/war/apidoc/xsd/AuthenticationResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="status"/>
        <xs:element type="xs:int" name="startRow"/>
        <xs:element type="xs:int" name="endRow"/>
        <xs:element type="xs:int" name="totalRows"/>
        <xs:element type="xs:string" name="errorCode" maxOccurs="1" minOccurs="0"/>
		<xs:element type="xs:string" name="responseMessage" maxOccurs="1" minOccurs="0"/>
		<xs:element name="data" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                           <xs:sequence>
                              <xs:element name="authType" type="xs:string" />
                              <xs:element name="authEntry" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="userName" type="xs:string" />
                                       <xs:element name="userPassword" type="xs:string" />
                                       <xs:element name="roleName" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="Id" type="xs:int" />
                                    <xs:attribute name="type" type="xs:string" />
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="Id" type="xs:int" />
                           <xs:attribute name="type" type="xs:string" />
                        </xs:complexType>
              </xs:element>
			  <xs:element name="clearContentReference" type="xs:string" />
            </xs:sequence>
            <xs:attribute type="xs:int" name="Id"/>
			<xs:attribute type="xs:string" name="type" use="optional"/>
          </xs:complexType>
        </xs:element>
		<xs:element name="errors" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:int" name="Id"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:int" name="Id"/>
	  <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>