designtime/webstudio/WebStudio/war/apidoc/xsd/Response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="status"/>
        <xs:element type="xs:int" name="startRow"/>
        <xs:element type="xs:int" name="endRow"/>
        <xs:element type="xs:int" name="totalRows"/>
        <xs:element type="xs:string" name="errorCode" maxOccurs="1" minOccurs="0"/>
		<xs:element name="data" maxOccurs="1" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
					<xs:element type="xs:string" name="revisionId" maxOccurs="1" minOccurs="0"/>
					<xs:element type="xs:string" name="username" maxOccurs="1" minOccurs="0"/>
					<xs:element type="xs:string" name="managedProjectName" maxOccurs="1" minOccurs="0"/>
					<xs:element type="xs:string" name="checkinComments" maxOccurs="1" minOccurs="0"/>
					<xs:element type="xs:dateTime" name="checkinTime" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:long" name="no" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="projectName" maxOccurs="1" minOccurs="0"/>
					<xs:element type="xs:string" name="apiToken" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="isDMInstalled" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="isLockingEnabled" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="isBPMNInstalled" maxOccurs="1" minOccurs="0"/>
					<xs:element type="xs:string" name="artifactPath" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="artifactType" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="fileExtension" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="baseArtifactPath" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="locked" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="processType" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="role" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="lockOwner" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:dateTime" name="lockedTime" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="lockingEnabled" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="lockAcquired" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="requestor" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="name" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="systemGroup" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="icon" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="fileType"  maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="imageSrc" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="changeType" maxOccurs="1" minOccurs="0"/>
                  </xs:all>
                  <xs:attribute type="xs:int" name="Id" use="optional"/>
				  <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="Id"/>
			<xs:attribute type="xs:string" name="type" use="optional"/>
          </xs:complexType>
        </xs:element>
		<xs:element type="xs:string" name="responseMessage" maxOccurs="1" minOccurs="0"/>
		<xs:element name="errors" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:int" name="Id"/>
                <xs:attribute type="xs:string" name="type" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:int" name="Id"/>
	  <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>