designtime/webstudio/WebStudio/war/apidoc/xsd/ShowCoverage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="status"/>
        <xs:element type="xs:int" name="startRow"/>
        <xs:element type="xs:int" name="endRow"/>
        <xs:element type="xs:int" name="totalRows"/>
	<xs:element type="xs:string" name="errorCode" maxOccurs="1" minOccurs="0"/>
        <xs:element name="data" maxOccurs="1" minOccurs="0"> 
          <xs:complexType  mixed="true">
            <xs:sequence>
               <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="artifactDetails">
                      <xs:complexType>
                        <xs:complexContent>
							<xs:extension base="ShowCoverage"/>
						</xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="Id" use="optional"/>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="Id" use="optional"/>
            <xs:attribute type="xs:string" name="type" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:int" name="Id" use="optional"/>
      <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
  </xs:element>

	<xs:complexType name="ShowCoverage">
		<xs:sequence>
			<xs:element type="TestDataCoverageRecord" name="record" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element type="xs:string" name="columnName" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="Id"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
	</xs:complexType>
	
	
	<xs:complexType name="TestDataCoverageRecord">
		<xs:sequence>
			<xs:element type="xs:string" name="recordId" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="value" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element type="xs:string" name="coveredRuleId" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="Id"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
	</xs:complexType>
</xs:schema>