designtime/webstudio/WebStudio/war/apidoc/xsd/UpdateAuthenticationDetails.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="aclSettings">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="aclSettingsItem">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="authEntries">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="authType"/>
                                <xs:element name="authEntry" maxOccurs="unbounded" minOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="userName"/>
                                      <xs:element type="xs:string" name="userPassword"/>
                                      <xs:element type="xs:string" name="roleName"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>