designtime/webstudio/WebStudio/war/apidoc/xsd/WSAbout.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="status"/>
        <xs:element type="xs:int" name="startRow"/>
        <xs:element type="xs:int" name="endRow"/>
        <xs:element type="xs:int" name="totalRows"/>
        <xs:element type="xs:string" name="errorCode" maxOccurs="1" minOccurs="0"/>
		<xs:element type="xs:string" name="responseMessage" maxOccurs="1" minOccurs="0"/>
		<xs:element name="data" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="record" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="version"/>
                    <xs:element type="xs:int" name="build"/>
                    <xs:element type="xs:date" name="buildDate"/>
                    <xs:element type="xs:string" name="copyright"/>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="Id"/>
                  <xs:attribute type="xs:string" name="type" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="Id"/>
            <xs:attribute type="xs:string" name="type" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:int" name="Id"/>
      <xs:attribute type="xs:string" name="type" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>