designtime/webstudio/ui/war/apidoc/xsd/artifactContent_RTIView.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="artifactContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="implementsPath"/>
        <xs:element name="view">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="bindingInfo" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="bindingId"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="value"/>
                    <xs:element name="domainInfo" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="folder"/>
                          <xs:element type="xs:string" name="description"/>
                          <xs:element type="xs:string" name="ownerProjectName"/>
                          <xs:element type="xs:string" name="dataType"/>
                          <xs:element type="xs:string" name="namespace"/>
                          <xs:element name="singleEntry" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="value"/>
                                <xs:element type="xs:string" name="description"/>
                              </xs:sequence>
                              <xs:attribute type="xs:short" name="Id" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="Id"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="Id" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="htmlText"/>
            </xs:sequence>
            <xs:attribute type="xs:short" name="Id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:short" name="Id"/>
    </xs:complexType>
  </xs:element>
</xs:schema>