designtime/webstudio/ui/war/apidoc/xsd/DeploymentConfigRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="deploymentConfig">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element name="deploymentConfigItem">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="host" maxOccurs="unbounded" minOccurs="1"/>
                          <xs:element type="xs:string" name="port" maxOccurs="unbounded" minOccurs="1"/>
                          <xs:element type="xs:string" name="name" maxOccurs="unbounded" minOccurs="1"/>
                          <xs:element type="xs:string" name="enabled" maxOccurs="unbounded" minOccurs="1"/>
                          <xs:element type="xs:string" name="userName" maxOccurs="unbounded" minOccurs="1"/>
                          <xs:element type="xs:string" name="password" maxOccurs="unbounded" minOccurs="1"/>
                          <xs:element type="xs:string" name="clusterName" maxOccurs="unbounded" minOccurs="1"/>
                          <xs:element type="xs:string" name="agentName" maxOccurs="unbounded" minOccurs="1"/>
                          <xs:element type="xs:string" name="inMemory" maxOccurs="unbounded" minOccurs="1"/>
                          <xs:element type="xs:string" name="projectName" maxOccurs="unbounded" minOccurs="1"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>