designtime/webstudio/ui/war/apidoc/xsd/FetchDMResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="status"/>
        <xs:element type="xs:int" name="startRow"/>
        <xs:element type="xs:int" name="endRow"/>
        <xs:element type="xs:int" name="totalRows"/>
	<xs:element type="xs:string" name="errorCode" maxOccurs="1" minOccurs="0"/>
        <xs:element name="data" maxOccurs="1" minOccurs="0"> 
          <xs:complexType  mixed="true">
            <xs:sequence>
               <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="artifactDetails">
                      <xs:complexType>
                        <xs:complexContent>
							<xs:extension base="DomainModelResponse"/>
						</xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="Id" use="optional"/>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:boolean" name="clearContentReference"/>
            </xs:sequence>
            <xs:attribute type="xs:int" name="Id" use="optional"/>
            <xs:attribute type="xs:string" name="type" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:int" name="Id" use="optional"/>
      <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
  </xs:element>

	<xs:complexType name="DomainModelResponse">
		<xs:sequence>
			<xs:element type="xs:string" name="artifactType" maxOccurs="1" minOccurs="1"/>
			<xs:element type="xs:string" name="artifactPath" maxOccurs="1" minOccurs="1"/>
			<xs:element type="ArtifactContentType" name="artifactContent" maxOccurs="1" minOccurs="1"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="Id"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
	</xs:complexType>
	
	
	<xs:complexType name="ArtifactContentType">
		<xs:sequence>
			<xs:element type="xs:string" name="name" maxOccurs="1" minOccurs="1"/>
			<xs:element type="xs:string" name="folder" maxOccurs="1" minOccurs="1"/>
			<xs:element type="xs:string" name="description" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="ownerProjectName" maxOccurs="1" minOccurs="1"/>
			<xs:element type="xs:string" name="superDomainPath" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="dataType" maxOccurs="1" minOccurs="1"/>
			<xs:element type="DomainEntry" name="singleEntry" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element type="RangeEntry" name="rangeEntry" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="Id"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
	</xs:complexType>
	
	<xs:complexType name="DomainEntry">
		<xs:sequence>
			<xs:element type="xs:string" name="value" maxOccurs="1" minOccurs="1"/>
			<xs:element type="xs:string" name="description" maxOccurs="1" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="Id" use="optional"/>
    	<xs:attribute type="xs:string" name="type" use="optional"/>
	</xs:complexType>
	
	<xs:complexType name="RangeEntry">
		<xs:sequence>
			<xs:element type="xs:string" name="lower" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="upper" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:boolean" name="lowerInclusive" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:boolean" name="upperInclusive" maxOccurs="1" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="Id" use="optional"/>
    	<xs:attribute type="xs:string" name="type" use="optional"/>
	</xs:complexType>
</xs:schema>