designtime/webstudio/ui/war/apidoc/xsd/Preferences.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="status"/>
        <xs:element type="xs:int" name="startRow"/>
        <xs:element type="xs:int" name="endRow"/>
        <xs:element type="xs:int" name="totalRows"/>
        <xs:element type="xs:string" name="errorCode" maxOccurs="1" minOccurs="0"/>
		<xs:element type="xs:string" name="responseMessage" maxOccurs="1" minOccurs="0"/>
		<xs:element name="data" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="record" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                  	<xs:element name="dashboardPortlets" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="portlet" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="portletId"/>
                                <xs:element type="xs:int" name="col"/>
                                <xs:element type="xs:int" name="rw"/>
                                <xs:element type="xs:int" name="height"/>
                                <xs:element type="xs:int" name="colSpan"/>
                              </xs:sequence>
                              <xs:attribute type="xs:int" name="Id" use="optional"/>
                              <xs:attribute type="xs:string" name="type" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="Id"/>
                        <xs:attribute type="xs:string" name="type" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:int" name="portalColumns" minOccurs="0"/>
                    <xs:element type="xs:int" name="recentlyOpenedArtifactLimit" minOccurs="0"/>
                    <xs:element type="xs:int" name="favoriteArtifactLimit" minOccurs="0"/>
                    <xs:element type="xs:anyURI" name="customURL" minOccurs="0"/>
                    <xs:element type="xs:string" name="itemView" minOccurs="0"/>
                    <xs:element type="xs:int" name="decisionTablePageSize" minOccurs="0"/>
                    <xs:element type="xs:string" name="scsUserName" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="scsUserPassword" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:boolean" name="autoUnLockOnReview" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:boolean" name="groupRelatedArtifacts" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:boolean" name="allowCustomDomainValues" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:boolean" name="showColumnAliasIfPresent" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="autoFitColumnsApproch" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="defaultRTIFilterType" maxOccurs="1" minOccurs="0"/>
                  </xs:all>
                  <xs:attribute type="xs:int" name="Id"/>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="Id"/>
            <xs:attribute type="xs:string" name="type" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:int" name="Id"/>
      <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>