designtime/webstudio/ui/war/apidoc/xsd/Request.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="commitComments" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="actionForcibly" minOccurs="0" maxOccurs="1"/>
              <xs:element name="project">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element name="artifactItem" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="artifactPath"/>
                          <xs:element type="xs:string" name="artifactType"/>
                          <xs:element type="xs:string" name="fileExtension" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:string" name="changeType" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:string" name="baseArtifactPath" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:string" name="lockRequestor" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>