designtime/webstudio/ui/war/apidoc/xsd/SaveRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="project">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element name="artifactItem">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="artifactPath"/>
                          <xs:element type="xs:string" name="artifactType"/>
                          <xs:element type="xs:string" name="fileExtension"/>
                          <xs:element type="xs:string" name="implementsPath"/>
                          <xs:element type="xs:string" name="isSyncMerge"/>
                          <xs:element type="xs:string" name="artifactContent"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>