designtime/webstudio/ui/war/apidoc/xsd/UpdateNotifyRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="notificationPreference">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="notificationPreferenceItem">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="emailPreference" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="project"/>
                                <xs:element type="xs:string" name="actions"/>
                                <xs:element type="xs:string" name="emailIds"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>