designtime/webstudio/ui/war/apidoc/xsd/UpdatePrefRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="userPreference">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="userPreferenceItem">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="portalColumns"/>
                          <xs:element type="xs:byte" name="favoriteArtifactLimit"/>
                          <xs:element type="xs:byte" name="recentlyOpenedArtifactLimit"/>
                          <xs:element type="xs:anyURI" name="customURL"/>
                          <xs:element type="xs:string" name="itemView"/>
                          <xs:element type="xs:byte" name="decisionTablePageSize"/>
                          <xs:element type="xs:string" name="autoUnLockOnReview"/>
                          <xs:element name="dashboardPortlets">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="portlet" maxOccurs="unbounded" minOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="portletId"/>
                                      <xs:element type="xs:byte" name="col"/>
                                      <xs:element type="xs:byte" name="rw"/>
                                      <xs:element type="xs:short" name="height"/>
                                      <xs:element type="xs:byte" name="colSpan"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>