runtime/modules/rms/project/studio-project/BRMS/Xsds/_BaseConcept.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="www.tibco.com/be/ontology/rms/_BaseConcept" targetNamespace="www.tibco.com/be/ontology/rms/_BaseConcept" elementFormDefault="unqualified" attributeFormDefault="unqualified">
    <xs:complexType name="_BaseConcept" final="" block="extension">
        <xs:attribute name="Id" type="xs:string"/>
        <xs:attribute name="extId" type="xs:string"/>
    </xs:complexType>
    <xs:element name="_BaseConcept" type="tns:_BaseConcept"/>
</xs:schema>