runtime/modules/rms/project/studio-project/BRMS/Xsds/Approval/Concepts/ArtifactsConcepts/AMS_C_Checkin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="www.tibco.com/be/ontology/rms/_BaseConcept" xmlns:tns="www.tibco.com/be/ontology/rms/Approval/Concepts/ArtifactsConcepts/AMS_C_Checkin" targetNamespace="www.tibco.com/be/ontology/rms/Approval/Concepts/ArtifactsConcepts/AMS_C_Checkin" elementFormDefault="unqualified" attributeFormDefault="unqualified">
    <xs:import namespace="www.tibco.com/be/ontology/rms/_BaseConcept"/>
    <xs:complexType name="AMS_C_Checkin" final="" block="extension">
        <xs:complexContent>
            <xs:extension base="ns0:_BaseConcept">
                <xs:sequence>
                    <xs:element name="patternId" type="xs:string" minOccurs="0"/>
                    <xs:element name="checkinComments" type="xs:string" minOccurs="0"/>
                    <xs:element name="checkinTime" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="artifactPaths" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="revisionId" type="xs:string" minOccurs="0"/>
                    <xs:element name="username" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="AMS_C_Checkin" type="tns:AMS_C_Checkin"/>
</xs:schema>