runtime/modules/rms/project/studio-project/BRMS/Xsds/Approval/Concepts/ArtifactsConcepts/AMS_C_ArtifactCommited.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="www.tibco.com/be/ontology/rms/_BaseConcept" xmlns:tns="www.tibco.com/be/ontology/rms/Approval/Concepts/ArtifactsConcepts/AMS_C_ArtifactCommited" targetNamespace="www.tibco.com/be/ontology/rms/Approval/Concepts/ArtifactsConcepts/AMS_C_ArtifactCommited" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="www.tibco.com/be/ontology/rms/_BaseConcept"/>
    <xs:complexType name="AMS_C_ArtifactCommited" final="" block="extension">
        <xs:complexContent>
            <xs:extension base="ns0:_BaseConcept">
                <xs:sequence>
                    <xs:element name="artifactPath" type="xs:string" minOccurs="0"/>
                    <xs:element name="artifactType" type="xs:string" minOccurs="0"/>
                    <xs:element name="artifactContent" type="xs:string" minOccurs="0"/>
                    <xs:element name="artifactFileExtension" type="xs:string" minOccurs="0"/>
                    <xs:element name="projectName" type="xs:string" minOccurs="0"/>
                    <xs:element name="revisionId" type="xs:long" minOccurs="0"/>
                    <xs:element name="operation" type="xs:string" minOccurs="0"/>
                    <xs:element name="status" type="xs:string" minOccurs="0"/>
                    <xs:element name="reviewerHistory" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:attribute name="ref" type="xs:string"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="AMS_C_ArtifactCommited" type="tns:AMS_C_ArtifactCommited"/>
</xs:schema>