runtime/modules/rms/project/studio-project/BRMS/Xsds/Approval/Concepts/ArtifactsConcepts/AMS_C_ReviewerHistory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="www.tibco.com/be/ontology/rms/_BaseConcept" xmlns:tns="www.tibco.com/be/ontology/rms/Approval/Concepts/ArtifactsConcepts/AMS_C_ReviewerHistory" targetNamespace="www.tibco.com/be/ontology/rms/Approval/Concepts/ArtifactsConcepts/AMS_C_ReviewerHistory" elementFormDefault="unqualified" attributeFormDefault="unqualified">
    <xs:import namespace="www.tibco.com/be/ontology/rms/_BaseConcept"/>
    <xs:complexType name="AMS_C_ReviewerHistory" final="" block="extension">
        <xs:complexContent>
            <xs:extension base="ns0:_BaseConcept">
                <xs:sequence>
                    <xs:element name="username" type="xs:string" minOccurs="0"/>
                    <xs:element name="reviewerComments" type="xs:string" minOccurs="0"/>
                    <xs:element name="newStatus" type="xs:string" minOccurs="0"/>
                    <xs:element name="oldStatus" type="xs:string" minOccurs="0"/>
                    <xs:element name="reviewerRole" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="AMS_C_ReviewerHistory" type="tns:AMS_C_ReviewerHistory"/>
</xs:schema>